TjBot/Bluemix/Tab1 - Receive Raspi.json
[{ "id": "f1a9bec8.979e6", "type": "ibmiot in", "z": "a99d257c.804718", "authentication": "boundService", "apiKey": "", "inputType": "evt", "deviceId": "TjBot", "applicationId": "", "deviceType": "TjBot", "eventType": "Environment", "commandType": "", "format": "json", "name": "IoT Event TjBot", "service": "registered", "allDevices": "", "allApplications": "", "allDeviceTypes": "", "allEvents": "", "allCommands": "", "allFormats": "", "qos": 0, "x": 91, "y": 199.25, "wires": [
        ["311d8403.2a5494", "d183ffb.aadeb"]
    ] }, { "id": "311d8403.2a5494", "type": "debug", "z": "a99d257c.804718", "name": "", "active": false, "console": "false", "complete": "false", "x": 308, "y": 127, "wires": [] }, { "id": "d183ffb.aadeb", "type": "function", "z": "a99d257c.804718", "name": "Split msg", "func": "var msg1 = {payload: msg.payload.d.temperature};\nvar msg2 = {payload: msg.payload.d.humidity};\nvar msg3 = {payload: msg.payload.d.pressure};\n\nreturn [msg1, msg2, msg3];", "outputs": "3", "noerr": 0, "x": 300, "y": 199.5, "wires": [
        ["5a9df371.5f1704"],
        ["1ea88595.e5f13a"],
        ["7a9c2c7b.8e4ba4"]
    ] }, { "id": "d98588e1.39678", "type": "ui_gauge", "z": "a99d257c.804718", "name": "Temperature", "group": "389bd08a.79c128", "order": 0, "width": 0, "height": 0, "gtype": "gage", "title": "Temperature", "label": "°C", "format": "{{value | number:2}}", "min": "-20", "max": "+50", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "", "seg2": "", "x": 695.5, "y": 141.00003051757812, "wires": [] }, { "id": "c6fc60af.131d7", "type": "ui_gauge", "z": "a99d257c.804718", "name": "Humidity", "group": "389bd08a.79c128", "order": 0, "width": 0, "height": 0, "gtype": "donut", "title": "Humidity", "label": "%", "format": "{{value | number:1}}", "min": 0, "max": "100", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "", "seg2": "", "x": 685, "y": 198.5, "wires": [] }, { "id": "7a9c2c7b.8e4ba4", "type": "ui_gauge", "z": "a99d257c.804718", "name": "Pressure", "group": "389bd08a.79c128", "order": 0, "width": 0, "height": 0, "gtype": "gage", "title": "Pressure", "label": "mbar", "format": "{{value | number:0}}", "min": 0, "max": "2000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "", "seg2": "", "x": 500, "y": 273.5, "wires": [] }, { "id": "5a9df371.5f1704", "type": "change", "z": "a99d257c.804718", "name": "Global Temp", "rules": [{ "t": "set", "p": "temp", "pt": "global", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 512, "y": 141, "wires": [
        ["d98588e1.39678"]
    ] }, { "id": "1ea88595.e5f13a", "type": "change", "z": "a99d257c.804718", "name": "Global Hum", "rules": [{ "t": "set", "p": "hum", "pt": "global", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 512, "y": 199, "wires": [
        ["c6fc60af.131d7"]
    ] }, { "id": "389bd08a.79c128", "type": "ui_group", "z": "", "name": "Sensor Data", "tab": "f925cd79.5fc298", "disp": true, "width": "6" }, { "id": "f925cd79.5fc298", "type": "ui_tab", "z": "", "name": "TjBot Sensor", "icon": "dashboard" }]