TjBot/Raspi/Tab2 - SenseHAT.json
[{ "id": "fa9ce41b.1cd4f8", "type": "comment", "z": "25b68b3c.2aa014", "name": "TJBot - Send IoTF ", "info": "", "x": 136, "y": 43, "wires": [] }, { "id": "d798fca8.ba07c", "type": "rpi-sensehat in", "z": "25b68b3c.2aa014", "name": "Environment", "motion": false, "env": true, "stick": false, "x": 120, "y": 151, "wires": [
        ["61078a37.58eb64", "cfce579.d8409a8", "9010ae22.a463a"]
    ] }, { "id": "61078a37.58eb64", "type": "debug", "z": "25b68b3c.2aa014", "name": "", "active": false, "console": "false", "complete": "false", "x": 349, "y": 90, "wires": [] }, { "id": "cfce579.d8409a8", "type": "function", "z": "25b68b3c.2aa014", "name": "Split msg", "func": "var msg1 = {payload: msg.payload.temperature};\nvar msg2 = {payload: msg.payload.humidity};\nvar msg3 = {payload: msg.payload.pressure};\n\nreturn [msg1, msg2, msg3];", "outputs": "3", "noerr": 0, "x": 343, "y": 150.5, "wires": [
        ["7762f0cd.2c64a"],
        ["14f60bc0.c79f74"],
        ["7d69b40a.f2f79c"]
    ] }, { "id": "f58a25b3.a4fca8", "type": "rbe", "z": "25b68b3c.2aa014", "name": "Block 2% change ", "func": "deadband", "gap": "2%", "start": "", "inout": "in", "x": 95, "y": 944.933349609375, "wires": [
        ["465ec546.51199c"]
    ] }, { "id": "465ec546.51199c", "type": "switch", "z": "25b68b3c.2aa014", "name": "temp thresh", "property": "payload", "propertyType": "msg", "rules": [{ "t": "lte", "v": "40", "vt": "str" }, { "t": "gt", "v": "40", "vt": "str" }], "checkall": "true", "outputs": 2, "x": 295.2666320800781, "y": 944.5, "wires": [
        ["a22de639.477cd8"],
        ["708b642c.9976fc"]
    ] }, { "id": "a22de639.477cd8", "type": "template", "z": "25b68b3c.2aa014", "name": "safe", "field": "text", "fieldType": "msg", "syntax": "mustache", "template": "Temp ({{payload}})     is ok", "x": 463.2666320800781, "y": 895.5, "wires": [
        ["642da755.3f7cf8"]
    ] }, { "id": "708b642c.9976fc", "type": "template", "z": "25b68b3c.2aa014", "name": "danger", "field": "text", "fieldType": "msg", "syntax": "mustache", "template": "Temp ({{payload}})     is critical", "x": 463.2666320800781, "y": 993.5, "wires": [
        ["5947d0b1.8f484"]
    ] }, { "id": "642da755.3f7cf8", "type": "change", "z": "25b68b3c.2aa014", "name": "Set RGB", "rules": [{ "t": "set", "p": "red", "pt": "msg", "to": "0", "tot": "num" }, { "t": "set", "p": "green", "pt": "msg", "to": "255", "tot": "num" }, { "t": "set", "p": "blue", "pt": "msg", "to": "0", "tot": "num" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 610.5000305175781, "y": 895.2666931152344, "wires": [
        ["2866721c.c465ee"]
    ] }, { "id": "5947d0b1.8f484", "type": "change", "z": "25b68b3c.2aa014", "name": "Set RGB", "rules": [{ "t": "set", "p": "red", "pt": "msg", "to": "0", "tot": "num" }, { "t": "set", "p": "green", "pt": "msg", "to": "255", "tot": "num" }, { "t": "set", "p": "blue", "pt": "msg", "to": "0", "tot": "num" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 615.3999328613281, "y": 993.86669921875, "wires": [
        ["2866721c.c465ee"]
    ] }, { "id": "2866721c.c465ee", "type": "function", "z": "25b68b3c.2aa014", "name": "Set LCD", "func": "var devEvent = {\n    \"d\" : {\n        \"device\" : \"grovepi-0\",\n        \"cmd\" : \"temperature\",\n        \"text\" : msg.text,\n        \"rgb\" : [msg.red, msg.green, msg.blue]\n    }\n}\n\nmsg.payload = JSON.stringify(devEvent); \n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 782.5000305175781, "y": 944.5333862304688, "wires": [
        ["fc70195d.9c5238"]
    ] }, { "id": "fc70195d.9c5238", "type": "debug", "z": "25b68b3c.2aa014", "name": "LCD Command", "active": false, "console": "false", "complete": "payload", "x": 970.2666320800781, "y": 872.5, "wires": [] }, { "id": "ffe21fb5.2977a", "type": "ui_gauge", "z": "25b68b3c.2aa014", "name": "Temperature", "group": "64ddae4e.0a696", "order": 0, "width": 0, "height": 0, "gtype": "gage", "title": "Temperature", "label": "°C", "format": "{{value | number:2}}", "min": "-20", "max": "+50", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "", "seg2": "", "x": 738.5, "y": 92.00003051757812, "wires": [] }, { "id": "792e830d.62baac", "type": "ui_gauge", "z": "25b68b3c.2aa014", "name": "Humidity", "group": "64ddae4e.0a696", "order": 0, "width": 0, "height": 0, "gtype": "donut", "title": "Humidity", "label": "%", "format": "{{value | number:1}}", "min": 0, "max": "100", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "", "seg2": "", "x": 728, "y": 149.5, "wires": [] }, { "id": "7d69b40a.f2f79c", "type": "ui_gauge", "z": "25b68b3c.2aa014", "name": "Pressure", "group": "64ddae4e.0a696", "order": 0, "width": 0, "height": 0, "gtype": "gage", "title": "Pressure", "label": "mbar", "format": "{{value | number:0}}", "min": 0, "max": "2000", "colors": ["#00b500", "#e6e600", "#ca3838"], "seg1": "", "seg2": "", "x": 543, "y": 224.5, "wires": [] }, { "id": "9010ae22.a463a", "type": "function", "z": "25b68b3c.2aa014", "name": "Set IoTF TempHumPres", "func": "//var pres = msg.payload.pressure * 0.001;\n// pres = parseInt(pres.toFixed(2));\n\nvar device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\",\n            \"sensortype\" : \"environment\",\n            \"timestamp\" : new Date(),\n            \"temperature\":msg.payload.temperature,\n            \"humidity\": msg.payload.humidity,\n            \"pressure\" : msg.payload.pressure\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 397, "y": 264, "wires": [
        ["6fe141e6.c6b68"]
    ] }, { "id": "6fe141e6.c6b68", "type": "wiotp out", "z": "25b68b3c.2aa014", "authType": "d", "qs": "false", "qsDeviceId": "", "deviceKey": "4aa3ac9e.84aa74", "deviceType": "", "deviceId": "", "event": "Environment", "format": "json", "qos": "", "name": "Send IoTF ", "x": 629, "y": 264, "wires": [] }, { "id": "91591106.46efd", "type": "rpi-sensehat in", "z": "25b68b3c.2aa014", "name": "Motion", "motion": true, "env": false, "stick": false, "x": 108, "y": 758, "wires": [
        ["a67f19c5.9ff4e8"]
    ] }, { "id": "60706583.72788c", "type": "rpi-sensehat in", "z": "25b68b3c.2aa014", "name": "Joystick", "motion": false, "env": false, "stick": true, "x": 101, "y": 416, "wires": [
        ["afe6377f.e26498", "ad747628.217a08", "1670d000.f7ad9"]
    ] }, { "id": "4d85b301.a6b63c", "type": "debug", "z": "25b68b3c.2aa014", "name": "", "active": true, "console": "false", "complete": "false", "x": 764, "y": 704, "wires": [] }, { "id": "afe6377f.e26498", "type": "debug", "z": "25b68b3c.2aa014", "name": "", "active": true, "console": "false", "complete": "false", "x": 321, "y": 367, "wires": [] }, { "id": "ad747628.217a08", "type": "function", "z": "25b68b3c.2aa014", "name": "Set IoTF Joystick", "func": "var device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\", \n            \"sensortype\" : \"joystick\",\n            \"timestamp\" : new Date(),\n            \"key\":msg.payload.key,\n            \"state\" : msg.payload.state\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 337, "y": 415, "wires": [
        ["964c18d4.b44de8"]
    ] }, { "id": "964c18d4.b44de8", "type": "wiotp out", "z": "25b68b3c.2aa014", "authType": "d", "qs": "false", "qsDeviceId": "", "deviceKey": "4aa3ac9e.84aa74", "deviceType": "", "deviceId": "", "event": "Joystick", "format": "json", "qos": "", "name": "Send IoTF ", "x": 542, "y": 415, "wires": [] }, { "id": "92b5bc45.76a55", "type": "function", "z": "25b68b3c.2aa014", "name": "Set IoTF Motion", "func": "var device = global.get(\"device\");\n\nvar sensor =\n    {\"d\":\n        {\n            \"device\" : device,\n            \"sensor\" : \"SenseHAT\", \n            \"sensortype\" : \"motion\",\n            \"timestamp\" : new Date(),\n            \"acceleration\":msg.payload.acceleration,\n            \"gyroscope\":msg.payload.gyroscope,\n            \"orientation\":msg.payload.orientation,\n            \"compass\":msg.payload.compass\n        }\n    }; \n\nmsg.payload = JSON.stringify(sensor);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 556, "y": 758, "wires": [
        ["8e08b2ce.066dd", "4d85b301.a6b63c"]
    ] }, { "id": "8e08b2ce.066dd", "type": "wiotp out", "z": "25b68b3c.2aa014", "authType": "d", "qs": "false", "qsDeviceId": "", "deviceKey": "4aa3ac9e.84aa74", "deviceType": "", "deviceId": "", "event": "Motion", "format": "json", "qos": "", "name": "Send IoTF ", "x": 763, "y": 758, "wires": [] }, { "id": "3cf9f78d.18a5a8", "type": "inject", "z": "25b68b3c.2aa014", "name": "ON", "topic": "", "payload": "true", "payloadType": "bool", "repeat": "", "crontab": "", "once": false, "x": 128, "y": 617, "wires": [
        ["801b1a20.bf7808"]
    ] }, { "id": "85b09150.1581f", "type": "inject", "z": "25b68b3c.2aa014", "name": "OFF", "topic": "", "payload": "false", "payloadType": "bool", "repeat": "", "crontab": "", "once": true, "x": 128, "y": 657, "wires": [
        ["801b1a20.bf7808"]
    ] }, { "id": "f8604495.7451e8", "type": "debug", "z": "25b68b3c.2aa014", "name": "", "active": false, "console": "false", "complete": "false", "x": 548, "y": 637, "wires": [] }, { "id": "801b1a20.bf7808", "type": "change", "z": "25b68b3c.2aa014", "name": "Enable / Disable Motion", "rules": [{ "t": "set", "p": "motion-start-stop", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 328, "y": 637, "wires": [
        ["f8604495.7451e8"]
    ] }, { "id": "a67f19c5.9ff4e8", "type": "switch", "z": "25b68b3c.2aa014", "name": "Is motion enabled?", "property": "motion-start-stop", "propertyType": "flow", "rules": [{ "t": "true" }], "checkall": "true", "outputs": 1, "x": 322, "y": 758, "wires": [
        ["92b5bc45.76a55"]
    ] }, { "id": "9b39685b.0a6d98", "type": "comment", "z": "25b68b3c.2aa014", "name": "Motion is disabled on startup", "info": "", "x": 174, "y": 573, "wires": [] }, { "id": "7762f0cd.2c64a", "type": "change", "z": "25b68b3c.2aa014", "name": "Global Temp", "rules": [{ "t": "set", "p": "temp", "pt": "global", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 555, "y": 92, "wires": [
        ["ffe21fb5.2977a"]
    ] }, { "id": "14f60bc0.c79f74", "type": "change", "z": "25b68b3c.2aa014", "name": "Global Hum", "rules": [{ "t": "set", "p": "hum", "pt": "global", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 555, "y": 150, "wires": [
        ["792e830d.62baac"]
    ] }, { "id": "7874dff5.975b68", "type": "rpi-sensehat out", "z": "25b68b3c.2aa014", "name": "", "x": 670, "y": 480, "wires": [] }, { "id": "fd5e2e77.a70af8", "type": "function", "z": "25b68b3c.2aa014", "name": "HAT Msg", "func": "var hostname = global.get(\"device\") || \"\";\nvar ip = global.get(\"IP\") || \"\";\nvar rotation = global.get(\"rotation\");\n\nif (rotation) {\n    msg.payload = rotation + \"\\n\" + hostname + \" : \" + msg.ip;\n} else {\n    msg.payload = hostname + \" : \" + ip;\n}\nmsg.speed = 4;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 500, "y": 480, "wires": [
        ["7874dff5.975b68"]
    ] }, { "id": "1670d000.f7ad9", "type": "switch", "z": "25b68b3c.2aa014", "name": "Enter Click", "property": "payload.key", "propertyType": "msg", "rules": [{ "t": "eq", "v": "ENTER", "vt": "str" }], "checkall": "true", "outputs": 1, "x": 330, "y": 480, "wires": [
        ["fd5e2e77.a70af8"]
    ] }, { "id": "64ddae4e.0a696", "type": "ui_group", "z": "", "name": "Sensor Data", "tab": "6ffe29b2.d79738", "disp": true, "width": "6" }, { "id": "4aa3ac9e.84aa74", "type": "wiotp-credentials", "z": "", "name": "Send IoTF", "org": "9qs5ql", "serverName": "", "devType": "TjBot", "devId": "TjBot", "keepalive": "60", "cleansession": true, "tls": "", "usetls": false }, { "id": "6ffe29b2.d79738", "type": "ui_tab", "z": "", "name": "TjBot", "icon": "dashboard" }]