TjBot/Raspi/Tab3 - Receiver IoTF.json
[{ "id": "e8c92af6.a108a8", "type": "comment", "z": "816d7aae.2a816", "name": "Get Light Commands", "info": "", "x": 140, "y": 80, "wires": [] }, { "id": "7615ae7e.09ed28", "type": "wiotp in", "z": "816d7aae.2a816", "authType": "d", "deviceKey": "4aa3ac9e.84aa74", "deviceType": "", "deviceId": "", "command": "set-light", "commandType": "g", "qos": 0, "name": "IoTF Lights", "x": 100, "y": 160, "wires": [
        ["eb3dcb8.b879438", "187eed1f.a949c3"]
    ] }, { "id": "eb3dcb8.b879438", "type": "debug", "z": "816d7aae.2a816", "name": "IoTF Receive Lights", "active": true, "console": "false", "complete": "payload", "x": 310, "y": 120, "wires": [] }, { "id": "1b70b9d9.341bb6", "type": "wiotp in", "z": "816d7aae.2a816", "authType": "d", "deviceKey": "4aa3ac9e.84aa74", "deviceType": "", "deviceId": "", "command": "talk", "commandType": "g", "qos": 0, "name": "IoTF Talk", "x": 100, "y": 400, "wires": [
        ["3983a78f.93b4", "fa76599d.96a468", "8c659a3a.c13b48"]
    ] }, { "id": "3983a78f.93b4", "type": "debug", "z": "816d7aae.2a816", "name": "IoTF Receive Talk", "active": true, "console": "false", "complete": "payload", "x": 310, "y": 360, "wires": [] }, { "id": "2b5ce702.788cf8", "type": "comment", "z": "816d7aae.2a816", "name": "Talk Commands", "info": "", "x": 120, "y": 320, "wires": [] }, { "id": "eafd077a.9dd6b8", "type": "function", "z": "816d7aae.2a816", "name": "SenseHAT", "func": "// get the Images\nvar senseHATImages = global.get(\"senseHATImages\");\nvar loop = true;\nvar sImage = \"\";\nvar image = [];\n\n// get the right image \nfor (var i = 0; i < senseHATImages.length && loop; i++) {\n    // set the image to be displayed\n    if (senseHATImages[i].name == msg.payload) {\n        loop = false;\n        sImage = senseHATImages[i].sImage;\n        image = senseHATImages[i].image;\n    }\n}\n\nmsg.payload = sImage;\nmsg.image = image;\nmsg.speed = 5;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 470, "y": 160, "wires": [
        ["441f727b.d904f4"]
    ] }, { "id": "441f727b.d904f4", "type": "rpi-sensehat out", "z": "816d7aae.2a816", "name": "", "x": 670, "y": 160, "wires": [] }, { "id": "187eed1f.a949c3", "type": "function", "z": "816d7aae.2a816", "name": "set light", "func": "var session = msg.payload.d;\n\nswitch (session.action) {\n    case \"light_off\":\n        msg.payload = \"no_light\";\n        break;\n    case \"light_on\":\n        msg.payload = session.colour;\n        break;\n    default: \n        msg.payload = \"no_light\";\n        break;\n}\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 280, "y": 160, "wires": [
        ["eafd077a.9dd6b8"]
    ] }, { "id": "3dac660d.dc913a", "type": "speakerpi-output", "z": "816d7aae.2a816", "choose": "filebased", "filename": "", "channels": "1", "bitdepth": "8", "samplerate": "11025", "name": "Speaker", "x": 643, "y": 400, "wires": [] }, { "id": "28d979f9.ec188e", "type": "watson-text-to-speech", "z": "816d7aae.2a816", "name": "Text2Speech", "lang": "de-DE", "langhidden": "de-DE", "langcustom": "NoCustomisationSetting", "langcustomhidden": "", "voice": "de-DE_BirgitVoice", "voicehidden": "", "format": "audio/wav", "password": "2T4yZlqvPfCO", "payload-response": false, "default-endpoint": true, "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api", "x": 459, "y": 400, "wires": [
        ["3dac660d.dc913a"]
    ] }, { "id": "fa76599d.96a468", "type": "function", "z": "816d7aae.2a816", "name": "set voice", "func": "var gender = global.get('gender') || \"male\";\nvar voice;\nvar session = msg.payload.d;\n\nswitch (session.lang){\n    case \"de\":\n        if (gender == \"male\") {\n            voice = \"de-DE_DieterVoice\";\n        } else {\n            voice = \"de-DE_BirgitVoice\";\n        }\n        break;\n    case \"en\":\n        if (gender == \"male\") {\n            voice = \"en-US_MichaelVoice\";\n        } else {\n            voice = \"en-US_LisaVoice\";\n        }\n        // voice = \"en-GB_KateVoice\";\n        // voice = \"en-US_AllisonVoice\";\n       break;\n    case \"es\":\n        if (gender == \"male\") {\n            voice = \"es-ES_EnriqueVoice\";\n        } else {\n            voice = \"es-ES_LauraVoice\";\n        }\n        // voice = \"es-LA_SofiaVoice\";\n        // voice = \"es-US_SofiaVoice\";\n        break;\n    case \"fr\":\n        voice = \"fr-FR_ReneeVoice\";\n        break;\n    case \"it\":\n        voice = \"it-IT_FrancescaVoice\";\n        break;\n    case \"ja\":\n        voice = \"ja-JP_EmiVoice\";\n        break;\n    case \"pt\":\n        voice = \"pt-BR_IsabelaVoice\";\n        break;\n    default:\n        break;\n}\n\nmsg.voice = voice;\nmsg.payload = session.text;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 280, "y": 400, "wires": [
        ["28d979f9.ec188e"]
    ] }, { "id": "5b003887.1e7c5", "type": "function", "z": "816d7aae.2a816", "name": "set wather", "func": "\nmsg.payload = \"weather\";\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 443, "y": 460.25, "wires": [
        ["20119994.5cbc36", "812376a3.49732"]
    ] }, { "id": "20119994.5cbc36", "type": "function", "z": "816d7aae.2a816", "name": "SenseHAT", "func": "// get the Images\nvar senseHATImages = global.get(\"senseHATImages\");\nvar loop = true;\nvar sImage = \"\";\nvar image = [];\n\n// get the right image \nfor (var i = 0; i < senseHATImages.length && loop; i++) {\n    // set the image to be displayed\n    if (senseHATImages[i].name == msg.payload) {\n        loop = false;\n        sImage = senseHATImages[i].sImage;\n        image = senseHATImages[i].image;\n    }\n}\n\nmsg.payload = sImage;\nmsg.image = image;\nmsg.speed = 5;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 634, "y": 459.25, "wires": [
        ["903ed141.9d23"]
    ] }, { "id": "812376a3.49732", "type": "debug", "z": "816d7aae.2a816", "name": "", "active": true, "console": "false", "complete": "true", "x": 574, "y": 509.25, "wires": [] }, { "id": "903ed141.9d23", "type": "rpi-sensehat out", "z": "816d7aae.2a816", "name": "", "x": 834, "y": 459.25, "wires": [] }, { "id": "8c659a3a.c13b48", "type": "switch", "z": "816d7aae.2a816", "name": "Weather", "property": "payload.d.weathercode", "propertyType": "msg", "rules": [{ "t": "nnull" }], "checkall": "true", "outputs": 1, "x": 280, "y": 460, "wires": [
        ["5b003887.1e7c5"]
    ] }, { "id": "4aa3ac9e.84aa74", "type": "wiotp-credentials", "z": "", "name": "Send IoTF", "org": "9qs5ql", "serverName": "", "devType": "TjBot", "devId": "TjBot", "keepalive": "60", "cleansession": true, "tls": "", "usetls": false }]