TjBot/Raspi/Tab4 - Image.json
[{ "id": "f8958324.64c5c", "type": "comment", "z": "f4133619.525ba8", "name": "Take Photo ", "info": "", "x": 100, "y": 140, "wires": [] }, { "id": "dcc2e543.bcffd8", "type": "http in", "z": "f4133619.525ba8", "name": "", "url": "/imagedownload", "method": "get", "swaggerDoc": "", "x": 159, "y": 725.3333740234375, "wires": [
        ["85c2e309.29522", "88d7864b.65b2e8"]
    ] }, { "id": "85c2e309.29522", "type": "debug", "z": "f4133619.525ba8", "name": "", "active": true, "console": "false", "complete": "true", "x": 358.28570556640625, "y": 804.3333129882812, "wires": [] }, { "id": "88d7864b.65b2e8", "type": "switch", "z": "f4133619.525ba8", "name": "download", "property": "download", "propertyType": "flow", "rules": [{ "t": "eq", "v": "true", "vt": "jsonata" }, { "t": "else" }], "checkall": "true", "outputs": 2, "x": 361, "y": 726.0833740234375, "wires": [
        ["f0061e1d.786a9"],
        ["9ed3ad4d.32231"]
    ] }, { "id": "f0061e1d.786a9", "type": "function", "z": "f4133619.525ba8", "name": "file name", "func": "msg.filename = msg.payload.image;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 526.6190795898438, "y": 669, "wires": [
        ["d1cd7a45.d19d48"]
    ] }, { "id": "9ed3ad4d.32231", "type": "change", "z": "f4133619.525ba8", "name": "image", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "image", "tot": "flow" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 513, "y": 733.0833740234375, "wires": [
        ["d1cd7a45.d19d48"]
    ] }, { "id": "d1cd7a45.d19d48", "type": "function", "z": "f4133619.525ba8", "name": "Content Header", "func": "msg.headers = {\n \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 737.619140625, "y": 733.5, "wires": [
        ["a2810ee8.4d299"]
    ] }, { "id": "a2810ee8.4d299", "type": "http response", "z": "f4133619.525ba8", "name": "HTTP Response", "x": 954, "y": 732.7619018554688, "wires": [] }, { "id": "fd241e32.1bf2e", "type": "camera", "z": "f4133619.525ba8", "name": "", "x": 243, "y": 335.3333740234375, "wires": [
        ["a432f464.469f88"]
    ] }, { "id": "f9a5283a.d93e58", "type": "debug", "z": "f4133619.525ba8", "name": "", "active": true, "console": "false", "complete": "true", "x": 691.625, "y": 552.5833740234375, "wires": [] }, { "id": "3e46df7f.851b3", "type": "function", "z": "f4133619.525ba8", "name": "set file name", "func": "msg.image = msg.payload;\nmsg.donwload = false;\nmsg.filename = msg.payload.d.url;\nmsg.payload = msg.payload.d.url;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 423.42626953125, "y": 403.825439453125, "wires": [
        ["baffdb0f.0c1ad8", "f9a5283a.d93e58", "4a9ef12d.4e9cd"]
    ] }, { "id": "baffdb0f.0c1ad8", "type": "visual-recognition-v3", "z": "f4133619.525ba8", "name": "Visual Recognition", "apikey": "46bd0eed187ec73b4ea37d459932a16e3ddd3d54", "image-feature": "detectFaces", "lang": "en", "x": 717.4500122070312, "y": 403.2333984375, "wires": [
        ["92c69fbf.ffd01", "c3fbe1d4.e72b7", "889aee70.4291c", "cb4d940c.b7fe68", "b88a4d31.14ff4", "5d199c5c.ee9694"]
    ] }, { "id": "f0fb0b0e.dfc658", "type": "function", "z": "f4133619.525ba8", "name": "set filename", "func": "var url = global.get(\"appurl\") || \"\";\n\n// msg.payload = \"https://watsoniot-tjbot-testgui.mybluemix.net/imagedownload?image=\" + msg.filename;\n\nmsg.payload = url + \"/imagedownload?image=\" + msg.filename;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 893.5000610351562, "y": 337.0834045410156, "wires": [
        ["4a9ef12d.4e9cd"]
    ] }, { "id": "92c69fbf.ffd01", "type": "debug", "z": "f4133619.525ba8", "name": "", "active": true, "console": "false", "complete": "true", "x": 1160.1722412109375, "y": 688.255615234375, "wires": [] }, { "id": "c3fbe1d4.e72b7", "type": "ui_text", "z": "f4133619.525ba8", "group": "15174ba1.27ae84", "order": 3, "width": "3", "height": "1", "name": "", "label": "Age Max:", "format": "{{msg.result.images[0].faces[0].age.max}}", "layout": "row-left", "x": 1170.7833251953125, "y": 469.8779602050781, "wires": [] }, { "id": "889aee70.4291c", "type": "ui_text", "z": "f4133619.525ba8", "group": "15174ba1.27ae84", "order": 4, "width": "3", "height": "1", "name": "", "label": "Age Min:", "format": "{{msg.result.images[0].faces[0].age.min}}", "layout": "row-left", "x": 1168.6722412109375, "y": 518.5447692871094, "wires": [] }, { "id": "cb4d940c.b7fe68", "type": "ui_text", "z": "f4133619.525ba8", "group": "15174ba1.27ae84", "order": 6, "width": "3", "height": "1", "name": "", "label": "Gender", "format": "{{msg.result.images[0].faces[0].gender.gender}}", "layout": "row-spread", "x": 1170.2389526367188, "y": 600.544677734375, "wires": [] }, { "id": "b88a4d31.14ff4", "type": "ui_text", "z": "f4133619.525ba8", "group": "15174ba1.27ae84", "order": 7, "width": "3", "height": "1", "name": "", "label": "Gender Score", "format": "{{msg.result.images[0].faces[0].gender.score}}", "layout": "row-spread", "x": 1188.25, "y": 644.0555419921875, "wires": [] }, { "id": "5d199c5c.ee9694", "type": "ui_text", "z": "f4133619.525ba8", "group": "15174ba1.27ae84", "order": 5, "width": "0", "height": "0", "name": "", "label": "Age Score:", "format": "{{msg.result.images[0].faces[0].age.score}}", "layout": "row-left", "x": 1178.5833129882812, "y": 560.0555725097656, "wires": [] }, { "id": "4a9ef12d.4e9cd", "type": "ui_template", "z": "f4133619.525ba8", "group": "15174ba1.27ae84", "name": "Image Preview", "order": 2, "width": "6", "height": "5", "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <p><img src= {{msg.payload}} alt=\"Image Preview\" style=\"width:304px;height:228px;\">\n    </p>\n</div>", "storeOutMessages": true, "fwdInMessages": true, "x": 1134.138916015625, "y": 336.9722900390625, "wires": [
        ["4feaa2d1.eb472c"]
    ] }, { "id": "3615ec78.5e0224", "type": "change", "z": "f4133619.525ba8", "name": "save image", "rules": [{ "t": "set", "p": "image", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 644, "y": 337.0833740234375, "wires": [
        ["f0fb0b0e.dfc658"]
    ] }, { "id": "4feaa2d1.eb472c", "type": "debug", "z": "f4133619.525ba8", "name": "", "active": true, "console": "false", "complete": "false", "x": 1364, "y": 338.2222900390625, "wires": [] }, { "id": "188e85fd.00803a", "type": "switch", "z": "f4133619.525ba8", "name": "Image ?", "property": "payload.d.sensor", "propertyType": "msg", "rules": [{ "t": "eq", "v": "image", "vt": "str" }], "checkall": "true", "outputs": 1, "x": 243, "y": 404.0833740234375, "wires": [
        ["9049fc98.2fa2b", "3e46df7f.851b3"]
    ] }, { "id": "9049fc98.2fa2b", "type": "debug", "z": "f4133619.525ba8", "name": "", "active": true, "console": "false", "complete": "false", "x": 424, "y": 478.8333740234375, "wires": [] }, { "id": "a432f464.469f88", "type": "function", "z": "f4133619.525ba8", "name": "New Filename", "func": "var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\n    var month = '0'+month;\n}\nif(day.toString().length == 1) {\n    var day = '0'+day;\n}   \nif(hour.toString().length == 1) {\n    var hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\n    var minute = '0'+minute;\n}\nif(second.toString().length == 1) {\n    var second = '0'+second;\n}   \nvar timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nmsg.image = msg.payload;\nmsg.donwload = false;\n\nmsg.filename = \"/Upload/\" + timestamp + \".jpeg\";\n\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 414, "y": 336.0833740234375, "wires": [
        ["3615ec78.5e0224", "baffdb0f.0c1ad8"]
    ] }, { "id": "b22deb28.9449e8", "type": "ui_button", "z": "f4133619.525ba8", "name": "Take Photo", "group": "15174ba1.27ae84", "order": 1, "width": 0, "height": 0, "passthru": false, "label": "Take Photo", "color": "", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 122, "y": 201, "wires": [
        ["778f84f6.84311c"]
    ] }, { "id": "778f84f6.84311c", "type": "camerapi-takephoto", "z": "f4133619.525ba8", "filemode": "0", "filename": "", "filedefpath": "1", "filepath": "", "fileformat": "jpeg", "resolution": "1", "rotation": "0", "fliph": "0", "flipv": "0", "brightness": "50", "contrast": "0", "sharpness": "0", "imageeffect": "none", "name": "Take Photo", "x": 302, "y": 201, "wires": [
        ["f9cc634f.fad21"]
    ] }, { "id": "f9cc634f.fad21", "type": "change", "z": "f4133619.525ba8", "name": "Save Image", "rules": [{ "t": "set", "p": "image", "pt": "msg", "to": "payload", "tot": "msg" }, { "t": "set", "p": "image", "pt": "flow", "to": "payload", "tot": "msg" }, { "t": "set", "p": "download", "pt": "msg", "to": "false", "tot": "bool" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 484, "y": 201, "wires": [
        ["baffdb0f.0c1ad8", "3615ec78.5e0224"]
    ] }, { "id": "fb6ceb77.f56f28", "type": "comment", "z": "f4133619.525ba8", "name": "Take Photo from PC Cam", "info": "", "x": 270, "y": 280, "wires": [] }, { "id": "15174ba1.27ae84", "type": "ui_group", "z": "", "name": "Take Photo", "tab": "6ffe29b2.d79738", "disp": true, "width": "6" }, { "id": "6ffe29b2.d79738", "type": "ui_tab", "z": "", "name": "TjBot", "icon": "dashboard" }]