TjBot/Raspi/Tab5 - Speak.json
[{ "id": "f7c2b6de.335898", "type": "comment", "z": "61105bca.705fa4", "name": "Speak and Translate", "info": "Speak out the given Text and / or translate \nto the given language", "x": 125, "y": 75, "wires": [] }, { "id": "eabac38.c31834", "type": "inject", "z": "61105bca.705fa4", "name": "Trigger Reset ", "topic": "", "payload": "", "payloadType": "str", "repeat": "", "crontab": "", "once": true, "x": 126, "y": 188.7999267578125, "wires": [
        ["3915041d.e5b02c", "86ee9729.b708e8", "a7033cb1.cd2fa", "87f62ad0.9c1fd8"]
    ] }, { "id": "3915041d.e5b02c", "type": "change", "z": "61105bca.705fa4", "name": "default", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "str" }, { "t": "set", "p": "toTranslate", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 358, "y": 140, "wires": [
        ["e6c22d49.ae884"]
    ] }, { "id": "86ee9729.b708e8", "type": "change", "z": "61105bca.705fa4", "name": "default", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "en", "tot": "str" }, { "t": "set", "p": "destLang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 359, "y": 189.1500244140625, "wires": [
        ["9e65b345.b78ff"]
    ] }, { "id": "a7033cb1.cd2fa", "type": "change", "z": "61105bca.705fa4", "name": "default", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "de", "tot": "str" }, { "t": "set", "p": "srcLang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 360, "y": 236.4000244140625, "wires": [
        ["6a14171c.57a708"]
    ] }, { "id": "87f62ad0.9c1fd8", "type": "change", "z": "61105bca.705fa4", "name": "default", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "str" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 360, "y": 323, "wires": [
        ["c763afa1.f370e", "7377e479.4bb17c", "124ea869.c2d808"]
    ] }, { "id": "e6c22d49.ae884", "type": "ui_text_input", "z": "61105bca.705fa4", "name": "toTranslate", "label": "", "group": "b6700de3.70a39", "order": 3, "width": 0, "height": 0, "passthru": false, "mode": "text", "delay": "0", "topic": "", "x": 522.2000122070312, "y": 139.4000244140625, "wires": [
        ["ef60bd87.4da38", "7773f8c.8a29a08"]
    ] }, { "id": "9e65b345.b78ff", "type": "ui_dropdown", "z": "61105bca.705fa4", "name": "destLang", "label": "", "place": "Select option", "group": "b6700de3.70a39", "order": 2, "width": "3", "height": "1", "passthru": false, "options": [{ "label": "de", "value": "de", "type": "str" }, { "label": "es", "value": "es", "type": "str" }, { "label": "en", "value": "en", "type": "str" }, { "label": "fr", "value": "fr", "type": "str" }], "payload": "", "topic": "", "x": 511.00006103515625, "y": 188.800048828125, "wires": [
        ["ad4d1526.77e7b8"]
    ] }, { "id": "6a14171c.57a708", "type": "ui_dropdown", "z": "61105bca.705fa4", "name": "srcLang", "label": "", "place": "Select option", "group": "b6700de3.70a39", "order": 1, "width": "3", "height": "1", "passthru": false, "options": [{ "label": "de", "value": "de", "type": "str" }, { "label": "es", "value": "es", "type": "str" }, { "label": "en", "value": "en", "type": "str" }, { "label": "fr", "value": "fr", "type": "str" }], "payload": "", "topic": "", "x": 509, "y": 236.4000244140625, "wires": [
        ["41c1a1ce.3d8d2"]
    ] }, { "id": "2150949e.e952bc", "type": "ui_text", "z": "61105bca.705fa4", "group": "b6700de3.70a39", "order": 6, "width": "6", "height": "4", "name": "Speaktext", "label": "Speak", "format": "{{msg.payload}}", "layout": "col-center", "x": 220, "y": 780, "wires": [] }, { "id": "ef60bd87.4da38", "type": "change", "z": "61105bca.705fa4", "name": "toTranslate", "rules": [{ "t": "set", "p": "toTranslate", "pt": "flow", "to": "payload", "tot": "msg" }, { "t": "set", "p": "theTranslation", "pt": "msg", "to": "", "tot": "str" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 700, "y": 139.1500244140625, "wires": [
        ["201c3957.704c96"]
    ] }, { "id": "7773f8c.8a29a08", "type": "debug", "z": "61105bca.705fa4", "name": "", "active": true, "console": "false", "complete": "true", "x": 666, "y": 84, "wires": [] }, { "id": "ad4d1526.77e7b8", "type": "change", "z": "61105bca.705fa4", "name": "destLang", "rules": [{ "t": "set", "p": "destLang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 677, "y": 188.75, "wires": [
        ["4c090dc3.ecc034"]
    ] }, { "id": "41c1a1ce.3d8d2", "type": "change", "z": "61105bca.705fa4", "name": "srcLang", "rules": [{ "t": "set", "p": "srcLang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 678, "y": 237, "wires": [
        ["4c090dc3.ecc034"]
    ] }, { "id": "b71286c6.54c6c8", "type": "watson-translator", "z": "61105bca.705fa4", "name": "Translate", "action": "translate", "basemodel": "ar-en", "domain": "news", "srclang": "de", "destlang": "en", "password": "xfpqwAdcmgkh", "custom": "", "domainhidden": "news", "srclanghidden": "de", "destlanghidden": "en", "basemodelhidden": "ar-en", "customhidden": "", "filetype": "forcedglossary", "trainid": "", "lgparams2": true, "ldparamshidden2": "true", "default-endpoint": true, "service-endpoint": "", "x": 920, "y": 500, "wires": [
        ["a3b5c6e6.355c68", "5165a468.025ccc", "7c1f2d10.868e64"]
    ] }, { "id": "201c3957.704c96", "type": "switch", "z": "61105bca.705fa4", "name": "Empty", "property": "payload", "propertyType": "msg", "rules": [{ "t": "null" }, { "t": "eq", "v": "", "vt": "str" }, { "t": "else" }], "checkall": "true", "outputs": 3, "x": 863.2001953125, "y": 140, "wires": [
        ["5b55d752.e44608"],
        ["5b55d752.e44608"],
        ["d2a08b64.692688"]
    ] }, { "id": "4c090dc3.ecc034", "type": "debug", "z": "61105bca.705fa4", "name": "", "active": true, "console": "false", "complete": "false", "x": 855, "y": 204.5, "wires": [] }, { "id": "a3b5c6e6.355c68", "type": "debug", "z": "61105bca.705fa4", "name": "Translate", "active": true, "console": "false", "complete": "payload", "x": 1100, "y": 440, "wires": [] }, { "id": "5564f7f8.c3dcf8", "type": "switch", "z": "61105bca.705fa4", "name": "Translate?", "property": "srcLang", "propertyType": "flow", "rules": [{ "t": "neq", "v": "destLang", "vt": "flow" }, { "t": "else" }], "checkall": "true", "outputs": 2, "x": 730, "y": 540, "wires": [
        ["b71286c6.54c6c8"],
        ["5165a468.025ccc", "7c1f2d10.868e64"]
    ] }, { "id": "5b55d752.e44608", "type": "change", "z": "61105bca.705fa4", "name": "Error", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "Nothing to speak", "tot": "str" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1047, "y": 109.1500244140625, "wires": [
        ["1a45201b.9ed43"]
    ] }, { "id": "d2a08b64.692688", "type": "change", "z": "61105bca.705fa4", "name": "Valid", "rules": [{ "t": "set", "p": "toTranslate", "pt": "flow", "to": "payload", "tot": "msg" }, { "t": "set", "p": "payload", "pt": "msg", "to": "Text is valid", "tot": "str" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1047, "y": 152.1500244140625, "wires": [
        ["1a45201b.9ed43", "cbdfa81b.53f488"]
    ] }, { "id": "5c22a1d7.3cb48", "type": "switch", "z": "61105bca.705fa4", "name": "", "property": "ok", "propertyType": "flow", "rules": [{ "t": "eq", "v": "false", "vt": "jsonata" }, { "t": "else" }], "checkall": "true", "outputs": 2, "x": 550, "y": 500, "wires": [
        ["7052d884.421db8"],
        ["5564f7f8.c3dcf8"]
    ] }, { "id": "674c15bf.c1491c", "type": "ui_text", "z": "61105bca.705fa4", "group": "b6700de3.70a39", "order": 4, "width": 0, "height": 0, "name": "Notification", "label": "", "format": "{{msg.payload}}", "layout": "row-spread", "x": 230, "y": 560, "wires": [] }, { "id": "7052d884.421db8", "type": "change", "z": "61105bca.705fa4", "name": "Error", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "Missing text", "tot": "str" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 710, "y": 460, "wires": [
        ["c1a56ca5.7562a"]
    ] }, { "id": "5165a468.025ccc", "type": "function", "z": "61105bca.705fa4", "name": "set message", "func": "var toTranslate = flow.get('toTranslate')||0;\nvar destLang = flow.get('destLang') || 0;\nvar srcLang = flow.get('srcLang') || 0;\nvar device = global.get(\"device\") || \"\";\n\nvar devEvent = {\n    \"d\" : {\n        \"device\" : device,\n        \"toTranlate\" : toTranslate,\n        \"speak\" : msg.payload,\n        \"srclang\" : srcLang,\n        \"destlang\" : destLang,\n        \"sentiment\" : 0,\n        \"voice\" : msg.payload.voice,\n        \"lightr\" : \"000\",\n        \"lightg\" : \"000\",\n        \"lightb\" : \"000\"\n    }\n};\n\nmsg.devEvent = devEvent;\n\nreturn msg;", "outputs": "1", "noerr": 0, "x": 1110, "y": 560, "wires": [
        ["ca64603f.4fb93"]
    ] }, { "id": "fcfe5411.f9da78", "type": "function", "z": "61105bca.705fa4", "name": "Check", "func": "var toTranslate = flow.get('toTranslate')||0;\nvar destLang = flow.get('destLang') || 0;\nvar srcLang = flow.get('srcLang') || 0;\nvar ok=false;\n\nif (toTranslate !==0 && destLang !==0 && srcLang !==0) {\n    ok=true;\n    msg.payload=toTranslate;\n    msg.srclang=srcLang;\n    msg.destlang=destLang;\n}\n\nnode.log(\"Translate : \"+toTranslate);\nnode.log(\"Dest Lang :\"+destLang);\nnode.log(\"Src Lang :\"+srcLang);\nnode.log(\"Status :\"+ok);\n\nflow.set('ok',ok);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 370, "y": 500, "wires": [
        ["5c22a1d7.3cb48", "6b4f0b1.25b0ff4"]
    ] }, { "id": "ca64603f.4fb93", "type": "sentiment", "z": "61105bca.705fa4", "name": "sentiment", "x": 1280, "y": 560, "wires": [
        ["25848f4a.b974e"]
    ] }, { "id": "6b4f0b1.25b0ff4", "type": "debug", "z": "61105bca.705fa4", "name": "", "active": true, "console": "false", "complete": "false", "x": 570, "y": 420, "wires": [] }, { "id": "3afa3039.1ca31", "type": "ui_button", "z": "61105bca.705fa4", "name": "Translate", "group": "b6700de3.70a39", "order": 5, "width": 0, "height": 0, "passthru": true, "label": "Speak & Translate", "color": "", "bgcolor": "", "icon": "", "payload": "toTranslate", "payloadType": "flow", "topic": "", "x": 220, "y": 500, "wires": [
        ["fcfe5411.f9da78"]
    ] }, { "id": "25848f4a.b974e", "type": "function", "z": "61105bca.705fa4", "name": "set speak", "func": "msg.devEvent.d.sentiment=msg.sentiment.score;\n\nif (msg.sentiment.score > 0 ) {\n    msg.devEvent.d.lightg = \"255\";\n} else if (msg.sentiment.score === 0) {\n    msg.devEvent.d.lightb = \"255\";\n} else {\n    msg.devEvent.d.lightr = \"255\";\n}\n\n// msg.payload = JSON.stringify(msg.devEvent); \n\nmsg.payload = msg.sentiment.score;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1440, "y": 560, "wires": [
        ["331c2f7d.56919", "ee34a231.25efa"]
    ] }, { "id": "331c2f7d.56919", "type": "debug", "z": "61105bca.705fa4", "name": "", "active": true, "console": "false", "complete": "devEvent", "x": 1640, "y": 500, "wires": [] }, { "id": "739f1536.e4b90c", "type": "link in", "z": "61105bca.705fa4", "name": "Notification", "links": ["1a45201b.9ed43", "c1a56ca5.7562a", "7377e479.4bb17c"], "x": 95, "y": 560, "wires": [
        ["674c15bf.c1491c"]
    ] }, { "id": "1a45201b.9ed43", "type": "link out", "z": "61105bca.705fa4", "name": "Display Error", "links": ["739f1536.e4b90c"], "x": 1177, "y": 110, "wires": [] }, { "id": "56abb560.858a3c", "type": "link in", "z": "61105bca.705fa4", "name": "Translate", "links": ["cbdfa81b.53f488"], "x": 95, "y": 500, "wires": [
        ["3afa3039.1ca31"]
    ] }, { "id": "cbdfa81b.53f488", "type": "link out", "z": "61105bca.705fa4", "name": "Translate", "links": ["56abb560.858a3c"], "x": 1176, "y": 153, "wires": [] }, { "id": "c1a56ca5.7562a", "type": "link out", "z": "61105bca.705fa4", "name": "Display Error", "links": ["739f1536.e4b90c"], "x": 835, "y": 460, "wires": [] }, { "id": "c763afa1.f370e", "type": "link out", "z": "61105bca.705fa4", "name": "", "links": ["d34cf3a7.4533a"], "x": 485, "y": 283, "wires": [] }, { "id": "d34cf3a7.4533a", "type": "link in", "z": "61105bca.705fa4", "name": "Set Output", "links": ["c763afa1.f370e", "7c1f2d10.868e64"], "x": 95, "y": 780, "wires": [
        ["2150949e.e952bc", "35a661c9.6f36fe"]
    ] }, { "id": "7c1f2d10.868e64", "type": "link out", "z": "61105bca.705fa4", "name": "", "links": ["d34cf3a7.4533a"], "x": 1055, "y": 500, "wires": [] }, { "id": "2f5edcf9.310f34", "type": "ui_text", "z": "61105bca.705fa4", "group": "b6700de3.70a39", "order": 0, "width": 0, "height": 0, "name": "", "label": "Sentiment", "format": "{{msg.payload}}", "layout": "row-spread", "x": 230, "y": 620, "wires": [] }, { "id": "7377e479.4bb17c", "type": "link out", "z": "61105bca.705fa4", "name": "", "links": ["739f1536.e4b90c"], "x": 485, "y": 323, "wires": [] }, { "id": "3dbc95f1.90d7ca", "type": "link in", "z": "61105bca.705fa4", "name": "Sentiment", "links": ["124ea869.c2d808", "ee34a231.25efa"], "x": 95, "y": 620, "wires": [
        ["2f5edcf9.310f34", "f6465087.9d6ce"]
    ] }, { "id": "124ea869.c2d808", "type": "link out", "z": "61105bca.705fa4", "name": "", "links": ["3dbc95f1.90d7ca"], "x": 485, "y": 363, "wires": [] }, { "id": "ee34a231.25efa", "type": "link out", "z": "61105bca.705fa4", "name": "", "links": ["3dbc95f1.90d7ca"], "x": 1575, "y": 560, "wires": [] }, { "id": "ef67d731.c07878", "type": "speakerpi-output", "z": "61105bca.705fa4", "choose": "filebased", "filename": "", "channels": "1", "bitdepth": "8", "samplerate": "11025", "name": "Speaker", "x": 743, "y": 860, "wires": [] }, { "id": "ecd255b1.4582b8", "type": "watson-text-to-speech", "z": "61105bca.705fa4", "name": "Text2Speech", "lang": "de-DE", "langhidden": "de-DE", "langcustom": "NoCustomisationSetting", "langcustomhidden": "", "voice": "de-DE_BirgitVoice", "voicehidden": "", "format": "audio/wav", "password": "2T4yZlqvPfCO", "payload-response": false, "default-endpoint": true, "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api", "x": 559, "y": 860, "wires": [
        ["ef67d731.c07878"]
    ] }, { "id": "99b2bb8b.d03438", "type": "function", "z": "61105bca.705fa4", "name": "set voice", "func": "var destLang = flow.get('destLang') || 0;\nvar gender = global.get('gender') || \"male\";\nvar voice;\n\nswitch (destLang){\n    case \"de\":\n        if (gender == \"male\") {\n            voice = \"de-DE_DieterVoice\";\n        } else {\n            voice = \"de-DE_BirgitVoice\";\n        }\n        break;\n    case \"en\":\n        if (gender == \"male\") {\n            voice = \"en-US_MichaelVoice\";\n        } else {\n            voice = \"en-US_LisaVoice\";\n        }\n        // voice = \"en-GB_KateVoice\";\n        // voice = \"en-US_AllisonVoice\";\n       break;\n    case \"es\":\n        if (gender == \"male\") {\n            voice = \"es-ES_EnriqueVoice\";\n        } else {\n            voice = \"es-ES_LauraVoice\";\n        }\n        // voice = \"es-LA_SofiaVoice\";\n        // voice = \"es-US_SofiaVoice\";\n        break;\n    case \"fr\":\n        voice = \"fr-FR_ReneeVoice\";\n        break;\n    case \"it\":\n        voice = \"it-IT_FrancescaVoice\";\n        break;\n    case \"ja\":\n        voice = \"ja-JP_EmiVoice\";\n        break;\n    case \"pt\":\n        voice = \"pt-BR_IsabelaVoice\";\n        break;\n    default:\n        break;\n}\n\nmsg.voice = voice;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 400, "y": 860, "wires": [
        ["ecd255b1.4582b8"]
    ] }, { "id": "35a661c9.6f36fe", "type": "switch", "z": "61105bca.705fa4", "name": "empty?", "property": "payload", "propertyType": "msg", "rules": [{ "t": "neq", "v": "", "vt": "str" }, { "t": "else" }], "checkall": "true", "outputs": 2, "x": 240, "y": 860, "wires": [
        ["99b2bb8b.d03438"],
        []
    ] }, { "id": "f6465087.9d6ce", "type": "function", "z": "61105bca.705fa4", "name": "set emotion", "func": "if (msg.payload === 0) {\n    msg.payload = \"nutreal\"; \n} else if (msg.payload < 0) {\n    msg.payload = \"frusty\";\n} else {\n    msg.payload = \"smily\";\n}\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 230, "y": 660, "wires": [
        ["bac77659.d4a2f", "10fa4234.4d624e"]
    ] }, { "id": "bac77659.d4a2f", "type": "function", "z": "61105bca.705fa4", "name": "SenseHAT", "func": "// get the Images\nvar senseHATImages = global.get(\"senseHATImages\");\nvar loop = true;\nvar sImage = \"\";\nvar image = [];\n\n// get the right image \nfor (var i = 0; i < senseHATImages.length && loop; i++) {\n    // set the image to be displayed\n    if (senseHATImages[i].name == msg.payload) {\n        loop = false;\n        sImage = senseHATImages[i].sImage;\n        image = senseHATImages[i].image;\n    }\n}\n\nmsg.payload = sImage;\nmsg.image = image;\nmsg.speed = 5;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 430, "y": 660, "wires": [
        ["d1a9f6b.210ad08"]
    ] }, { "id": "10fa4234.4d624e", "type": "debug", "z": "61105bca.705fa4", "name": "", "active": true, "console": "false", "complete": "true", "x": 361, "y": 709, "wires": [] }, { "id": "d1a9f6b.210ad08", "type": "rpi-sensehat out", "z": "61105bca.705fa4", "name": "", "x": 610, "y": 660, "wires": [] }, { "id": "b6700de3.70a39", "type": "ui_group", "z": "", "name": "Speak & Translate", "tab": "6ffe29b2.d79738", "order": 2, "disp": true, "width": "6" }, { "id": "6ffe29b2.d79738", "type": "ui_tab", "z": "", "name": "TjBot", "icon": "dashboard" }]