TjBot/Raspi/Tab6 - Weather.json
[{ "id": "486e6334.9eb2ec", "type": "comment", "z": "9c4019a8.af0e78", "name": "Weather processing", "info": "", "x": 110, "y": 60, "wires": [] }, { "id": "c44a344d.b03a38", "type": "inject", "z": "9c4019a8.af0e78", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": true, "x": 108, "y": 154, "wires": [
        ["263fc554.c9a19a", "c76164ae.99bd28"]
    ] }, { "id": "263fc554.c9a19a", "type": "change", "z": "9c4019a8.af0e78", "name": "default City", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "Linz", "tot": "str" }, { "t": "set", "p": "city", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 320, "y": 124.5, "wires": [
        ["742b655d.93ccbc"]
    ] }, { "id": "c76164ae.99bd28", "type": "change", "z": "9c4019a8.af0e78", "name": "default Lang", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "de", "tot": "str" }, { "t": "set", "p": "lang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 317, "y": 181.5, "wires": [
        ["a8ba3fe8.2060d"]
    ] }, { "id": "742b655d.93ccbc", "type": "ui_dropdown", "z": "9c4019a8.af0e78", "name": "City", "label": "City", "place": "Select option", "group": "15cb080a.334f68", "order": 1, "width": 0, "height": 0, "passthru": false, "options": [{ "label": "Wien", "value": "Wien", "type": "str" }, { "label": "Linz", "value": "Linz", "type": "str" }, { "label": "Graz", "value": "Graz", "type": "str" }, { "label": "St. Pölten", "value": "St. Pölten", "type": "str" }, { "label": "Klagenfurt", "value": "Klagenfurt", "type": "str" }, { "label": "Eisenstadt", "value": "Eisenstadt", "type": "str" }, { "label": "Innsbruck", "value": "Innsbruck", "type": "str" }, { "label": "Salzburg", "value": "Salzburg", "type": "str" }, { "label": "Bregenz", "value": "Bregenz", "type": "str" }], "payload": "", "topic": "", "x": 495, "y": 124.75, "wires": [
        ["6b90418f.a46a4"]
    ] }, { "id": "a8ba3fe8.2060d", "type": "ui_dropdown", "z": "9c4019a8.af0e78", "name": "Language", "label": "Language", "place": "Select option", "group": "15cb080a.334f68", "order": 2, "width": 0, "height": 0, "passthru": false, "options": [{ "label": "de", "value": "de", "type": "str" }, { "label": "en", "value": "en", "type": "str" }], "payload": "", "topic": "", "x": 508, "y": 181.75, "wires": [
        ["12453274.855ede"]
    ] }, { "id": "9dd295a3.6697f8", "type": "ui_button", "z": "9c4019a8.af0e78", "name": "", "group": "15cb080a.334f68", "order": 3, "width": 0, "height": 0, "passthru": false, "label": "Get Weather", "color": "", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 94, "y": 357.75, "wires": [
        ["40f9d2b7.6a922c"]
    ] }, { "id": "6b90418f.a46a4", "type": "change", "z": "9c4019a8.af0e78", "name": "set city", "rules": [{ "t": "set", "p": "city", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 668, "y": 124.75, "wires": [
        ["99da8b2f.821ab8"]
    ] }, { "id": "12453274.855ede", "type": "change", "z": "9c4019a8.af0e78", "name": "set lang", "rules": [{ "t": "set", "p": "lang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 668, "y": 182, "wires": [
        ["99da8b2f.821ab8"]
    ] }, { "id": "40f9d2b7.6a922c", "type": "change", "z": "9c4019a8.af0e78", "name": "", "rules": [{ "t": "set", "p": "language", "pt": "msg", "to": "lang", "tot": "flow" }, { "t": "set", "p": "payload", "pt": "msg", "to": "city", "tot": "flow" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 310, "y": 357.75, "wires": [
        ["5e331597.f1c78c"]
    ] }, { "id": "5e331597.f1c78c", "type": "function", "z": "9c4019a8.af0e78", "name": "Set Long & Lat", "func": "var latlong;\nmsg.city = msg.payload;\n\nswitch(msg.payload) {\n    case \"Linz\":\n        latlong = \"48.2950649,14.0527468\";        \n        break;\n    case \"Wien\":\n        latlong = \"48.2206849,16.3800599\";\n        break;\n    case \"Graz\":\n        latlong = \"47.0735897,15.4417898\";\n        break;\n    case \"Salzburg\":\n        latlong = \"47.80281,13.05643\";\n        break;\n    case \"Bregenz\":\n        latlong = \"47.50708,9.7519903\";\n        break;\n    case \"Innsbruck\":\n        latlong = \"47.2854551,11.37879\";\n        break;\n    case \"Klagenfurt\":\n        latlong = \"46.641325,14.312755\";\n        break;\n    case \"St. Pölten\":\n        latlong = \"48.19378,15.647015\";\n        break;\n    case \"Eisenstadt\":\n        latlong = \"47.838855,16.5343751\";\n        break;\n    default:\n}\n\nmsg.location = latlong;\nmsg.payload = latlong;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 519, "y": 357.75, "wires": [
        ["85a1db7c.f47ad8"]
    ] }, { "id": "90530c97.23a7b", "type": "debug", "z": "9c4019a8.af0e78", "name": "", "active": true, "console": "false", "complete": "true", "x": 1347, "y": 284.5, "wires": [] }, { "id": "99da8b2f.821ab8", "type": "debug", "z": "9c4019a8.af0e78", "name": "", "active": true, "console": "false", "complete": "false", "x": 859, "y": 151.5, "wires": [] }, { "id": "291021c4.afbcfe", "type": "function", "z": "9c4019a8.af0e78", "name": "set forecast", "func": "weathertext = \"\";\nweather = msg.forecasts;\n\nif (msg.language == \"en\") { \n    msg.voice = \"en-GB_KateVoice\";\n    weathertext = \"The Weather in \";\n    weathertext = weathertext + msg.city + \" will be on \";\n}\nif (msg.language == \"de\") { \n    msg.voice = \"de-DE_BirgitVoice\";\n    weathertext = \"Das Wetter in \";\n    weathertext = weathertext + msg.city + \" wird am \";\n}\n\nif (weather.length > 0 ) {\n    narrative = weather[0].narrative; \n    dow = weather[0].dow;\n    weathertext = weathertext + dow + \" \" + narrative;\n    if (typeof weather[0].day !== \"undefined\") {\n        code = weather[0].day.icon_code;\n    } else if (typeof weather[0].night !== \"undefined\") {\n        code = weather[0].night.icon_code;\n    }\n} else {\n    weathertext = \"No Weather found!\"\n}\n\nmsg.weathertext = weathertext;\nmsg.code = code;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 941, "y": 358, "wires": [
        ["15ae970b.5f9589"]
    ] }, { "id": "15ae970b.5f9589", "type": "change", "z": "9c4019a8.af0e78", "name": "Weathertext", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "weathertext", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1143, "y": 358, "wires": [
        ["90530c97.23a7b", "c68140ac.7cea6", "19e5809.e62af7f"]
    ] }, { "id": "c68140ac.7cea6", "type": "ui_text", "z": "9c4019a8.af0e78", "group": "15cb080a.334f68", "order": 0, "width": "6", "height": "3", "name": "", "label": "Forecast", "format": "{{msg.payload}}", "layout": "col-center", "x": 1345, "y": 357.5, "wires": [] }, { "id": "85a1db7c.f47ad8", "type": "weather_insights", "z": "9c4019a8.af0e78", "name": "", "host": "twcservice.mybluemix.net", "service": "/forecast/daily/10day.json", "geocode": "", "units": "m", "language": "", "x": 737, "y": 357.5, "wires": [
        ["291021c4.afbcfe", "8fbe8d02.cbb15"]
    ] }, { "id": "8fbe8d02.cbb15", "type": "debug", "z": "9c4019a8.af0e78", "name": "", "active": true, "console": "false", "complete": "false", "x": 990, "y": 294.5, "wires": [] }, { "id": "63ca5ddf.33d894", "type": "speakerpi-output", "z": "9c4019a8.af0e78", "choose": "filebased", "filename": "", "channels": "1", "bitdepth": "8", "samplerate": "11025", "name": "Speaker", "x": 1547, "y": 418, "wires": [] }, { "id": "19e5809.e62af7f", "type": "watson-text-to-speech", "z": "9c4019a8.af0e78", "name": "Text2Speech", "lang": "de-DE", "langhidden": "de-DE", "langcustom": "NoCustomisationSetting", "langcustomhidden": "", "voice": "de-DE_BirgitVoice", "voicehidden": "", "format": "audio/wav", "password": "pjaxyNAONb3n", "payload-response": false, "default-endpoint": true, "service-endpoint": "https://stream.watsonplatform.net/text-to-speech/api", "x": 1363, "y": 418, "wires": [
        ["63ca5ddf.33d894"]
    ] }, { "id": "15cb080a.334f68", "type": "ui_group", "z": "", "name": "Get Weather", "tab": "6ffe29b2.d79738", "order": 3, "disp": true, "width": "6" }, { "id": "6ffe29b2.d79738", "type": "ui_tab", "z": "", "name": "TjBot", "icon": "dashboard" }]