TjBot/Raspi/Tab7 - Chatbot.json
[{ "id": "91e1058e.d59008", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Chatbot Init", "info": "Initalize the chatbot", "x": 91, "y": 48, "wires": [] }, { "id": "87533f5f.ba20d", "type": "inject", "z": "fbbaec7f.fd3ae", "name": "Inject a 'bot' user response", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "x": 281, "y": 315.25, "wires": [
        ["c2696487.809a68"]
    ] }, { "id": "c2696487.809a68", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Test Message", "func": "msg.payload = {\n    \"message\":(new Date(msg.payload)).toUTCString(),\n    \"user\":\"bot\"\n    \n}\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 519, "y": 315.25, "wires": [
        ["a1cb3125.fabe6"]
    ] }, { "id": "a1cb3125.fabe6", "type": "ui_template", "z": "fbbaec7f.fd3ae", "group": "b2b56565.076ac8", "name": "", "order": 2, "width": "10", "height": "8", "format": "<style>\n    #chat-box {\n        overflow-y: scroll;\n    }\n    .chat-message {\n        border-bottom: 1px solid #fff;\n    }\n    .chat-user {\n        padding: 5px 5px;\n        display: inline-block;\n        width: 50px;\n        vertical-align: top;\n    }\n    .chat-user-you {\n        background: #fac172;\n    }\n    .chat-user-bot {\n        background: #808000;\n    }\n    .chat-user-tjbot {\n        background: #89D5C9;\n    }\n    .chat-data {\n        padding: 5px 5px;\n        width: calc(100% - 80px);\n        display: inline-block;\n        vertical-align: top;\n        background: rgba(255,255,255,0.4);\n    }\n</style>\n<div id=\"chat-box\">\n    \n</div>\n<script>\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            if (data.user && data.message) {\n                var entry = $('<div>',{class:'chat-message'}).addClass('chat-user-'+data.user);\n                $('<span class=\"chat-user\"></span>').text(data.user).appendTo(entry);\n                $('<span class=\"chat-data\"></span>').text(data.message).appendTo(entry);\n                entry.appendTo('#chat-box');\n                $(\"#chat-box\").scrollTop($('#chat-box').prop(\"scrollHeight\"));\n            }\n        })\n    })(scope);\n</script>", "storeOutMessages": true, "fwdInMessages": true, "x": 734, "y": 416.25, "wires": [
        []
    ] }, { "id": "d9e48a02.cf0ee8", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Handle message", "func": "var msg2 = null;\nif (msg.payload !== '') {\n    // If this is a non-blank message, send a\n    // message back to the text input to clear\n    // it\n    msg2 = {socketid: msg.socketid, payload:''};\n}\n\nif (msg.chatbot === true) {\n    msg.payload = {\n        message: msg.payload,\n        user: \"tjbot\"\n    };\n} else {\n    msg.payload = {\n        message: msg.payload,\n        user: \"you\"\n    };\n}\nreturn [msg, msg2];", "outputs": "2", "noerr": 0, "x": 476, "y": 424.25, "wires": [
        ["a1cb3125.fabe6"],
        ["b70f214f.ec8d1"]
    ] }, { "id": "c7acbcf9.167d9", "type": "ui_text", "z": "fbbaec7f.fd3ae", "group": "b2b56565.076ac8", "order": 3, "width": "1", "height": "1", "name": "", "label": "Chat", "format": "", "layout": "row-left", "x": 1166, "y": 211.25, "wires": [] }, { "id": "b70f214f.ec8d1", "type": "delay", "z": "fbbaec7f.fd3ae", "name": "Wait", "pauseType": "delay", "timeout": "10", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 225, "y": 494.25, "wires": [
        ["d6a6c3b2.34e62"]
    ] }, { "id": "d6a6c3b2.34e62", "type": "ui_text_input", "z": "fbbaec7f.fd3ae", "name": "chat input", "label": "", "group": "b2b56565.076ac8", "order": 4, "width": "9", "height": "1", "passthru": false, "mode": "text", "delay": "0", "topic": "", "x": 388, "y": 494.25, "wires": [
        ["db0ec5e2.20cfe8", "b3f56508.bb7e88"]
    ] }, { "id": "40d5531e.20ccac", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Chatbot Receiver", "info": "Gets any message from the chat-ui and sends \nit to the conversation service", "x": 102.5, "y": 677.25, "wires": [] }, { "id": "c5973131.78747", "type": "watson-conversation-v1", "z": "fbbaec7f.fd3ae", "name": "EN Conv", "workspaceid": "5d37ed79-5aab-4393-9dde-4156dc048074", "multiuser": false, "context": false, "default-endpoint": true, "service-endpoint": "https://gateway.watsonplatform.net/conversation/api", "x": 488.5, "y": 747.25, "wires": [
        ["e9339b10.03c358", "1cc66cd4.03f633"]
    ] }, { "id": "d7f1d3aa.747a", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "Send Message", "active": true, "console": "false", "complete": "payload", "x": 245, "y": 378.5, "wires": [] }, { "id": "98ab5904.6a5e28", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "", "active": true, "console": "false", "complete": "false", "x": 424.5, "y": 1236.25, "wires": [] }, { "id": "e460ce3c.80757", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Get LatLong", "func": "var latlong;\nvar session = flow.get(\"session\");\nvar lang = flow.get(\"lang\");\n\nmsg.oldpayload = msg.payload;\n\nmsg.weather=false;\nfor (var v in session.latlong) {\n    if (session.latlong[v].city === session.context.city) {\n        latlong = session.latlong[v].latlong;\n        msg.weather = true;\n    }\n}\n\nmsg.language = lang;\n\nmsg.location = latlong;\nmsg.payload = latlong;\n\nreturn msg;", "outputs": "1", "noerr": 0, "x": 214.5, "y": 1285.25, "wires": [
        ["98ab5904.6a5e28", "68198b4d.b99664"]
    ] }, { "id": "b23620ab.902c9", "type": "weather_insights", "z": "fbbaec7f.fd3ae", "name": "Forecast", "host": "twcservice.mybluemix.net", "service": "/forecast/daily/10day.json", "geocode": "", "units": "m", "language": "", "x": 452.5, "y": 1353.25, "wires": [
        ["b9ee5dfc.422e3"]
    ] }, { "id": "68198b4d.b99664", "type": "switch", "z": "fbbaec7f.fd3ae", "name": "Weather?", "property": "weather", "propertyType": "msg", "rules": [{ "t": "false" }, { "t": "true" }], "checkall": "true", "outputs": 2, "x": 416.5, "y": 1285.25, "wires": [
        ["7ee1219d.c5d56"],
        ["b23620ab.902c9"]
    ] }, { "id": "b9ee5dfc.422e3", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Parse Weather", "func": "var session = flow.get(\"session\");\nvar lang = flow.get(\"lang\");\nvar weatherpayload = msg.payload;\nvar weathertext = \"\";\nvar code;\nvar weather = msg.forecasts;\n\n\nif (lang == \"en\") { \n    msg.voice = \"en-GB_KateVoice\";\n    weathertext = \"The Weather in \";\n    weathertext = weathertext + session.context.city + \" will be on \";\n}\nif (lang == \"de\") { \n    msg.voice = \"de-DE_BirgitVoice\";\n    weathertext = \"Das Wetter in \";\n    weathertext = weathertext + session.context.city + \" wird am \";\n}\n\nif (weather.length > 0 ) {\n    var notfound = true;\n    var i = 0;\n    while (i< weather.length && notfound) {\n        if(weather[i].fcst_valid_local.substring(0,10) == session.context.date) {\n            notfound = false;\n        } else {\n            i = i + 1;\n        }\n    }\n    \n    if (notfound) {\n        i = 0;\n    }\n    var narrative = weather[i].narrative; \n    var dow = weather[i].dow;\n    weathertext = weathertext + dow + \" \" + narrative;\n    if (typeof weather[i].day !== \"undefined\") {\n        code = weather[i].day.icon_code;\n    } else if (typeof weather[i].night !== \"undefined\") {\n        code = weather[i].night.icon_code;\n    }\n} else {\n    weathertext = \"No Weather found!\";\n}\n\n// Test RegEx\nvar newweather = weathertext;\nvar reg = weathertext.match(/(?:\\d*\\.)?\\d+([A-C])/g);\nfor (var v=0; v < reg.length; v++) {\n    var str = \"\";\n    if (lang == \"de\") {\n        str = reg[v].slice(0,reg[v].length-1) + \" Grad\";\n    } else {\n        str = reg[v].slice(0,reg[v].length-1) + \" degrees\";\n    }\n    newweather = newweather.replace(reg[v],str);\n}\n\n// save to context\nsession.context.weathertext = newweather;\nsession.context.weathercode = code;\nsession.output.push(newweather);\n\nmsg.additional_context = {\n//    context : {\n        weather : weathertext,\n        uv : msg.forecasts[0].uv_desc,\n        temp : msg.forecasts[0].temp\n//    }\n};\n\nflow.set(\"session\", session);\n\n// restore old payload elements\nmsg.payload = msg.oldpayload;\nmsg.session = session;\nmsg.forecasts = weather;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 643.5, "y": 1354.25, "wires": [
        ["5c4a244c.90772c", "c3ce9b51.2e1018"]
    ] }, { "id": "7ee1219d.c5d56", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Restore", "func": "msg.payload = msg.oldpayload;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 607.5, "y": 1278.25, "wires": [
        ["5c4a244c.90772c"]
    ] }, { "id": "f53f19a6.638448", "type": "change", "z": "fbbaec7f.fd3ae", "name": "Update payload", "rules": [{ "t": "set", "p": "discoveryparams.query", "pt": "msg", "to": "payload.input.text", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 244.00000095367432, "y": 1559.2500109672546, "wires": [
        ["4f1fb1ba.0bda2"]
    ] }, { "id": "4f1fb1ba.0bda2", "type": "watson-discovery-v1", "z": "fbbaec7f.fd3ae", "name": "Discovery", "environmentname": "", "environment_id": "bd82267f-9072-4fb5-87c8-702290f19dba", "collection_id": "849081ac-432d-4f4b-900b-20743e48e694", "configurationname": "", "configuration_id": "", "collection_name": "", "count": "1", "passages": false, "query": "", "filter": "", "aggregation": "", "return": "", "description": "", "size": 0, "discovery-method": "query", "x": 433.0000009536743, "y": 1559.2500109672546, "wires": [
        ["9614d685.3abd48"]
    ] }, { "id": "9614d685.3abd48", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Postprocessing", "func": "var question = msg.search_results.results[0].Question\nvar answer = msg.search_results.results[0].Answer\nvar score = msg.search_results.results[0].score\n\nmsg.payload = 'I found this question that is similar to yours (confidence ' + score.toFixed(2) + '): ' + question;\nnode.send(msg);\n\nmsg.payload = 'And this is the answer: ' + answer;\nnode.send(msg);\n\nreturn ;", "outputs": 1, "noerr": 0, "x": 637.0000009536743, "y": 1559.2500109672546, "wires": [
        ["af962a18.77d1a8", "2fd58765.630a08"]
    ] }, { "id": "b95434a7.834b98", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Sender", "links": ["96d960f7.30612"], "x": 1190.5, "y": 820.25, "wires": [] }, { "id": "96d960f7.30612", "type": "link in", "z": "fbbaec7f.fd3ae", "name": "Sender", "links": ["b95434a7.834b98", "2fd58765.630a08", "5c4a244c.90772c", "8cf55f68.3d323"], "x": 66, "y": 424.5, "wires": [
        ["d7f1d3aa.747a", "510bc96c.013208"]
    ] }, { "id": "ceedfc1c.34cbd", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Discovery", "links": ["2f9f8c06.02bae4"], "x": 1036.5, "y": 843.25, "wires": [] }, { "id": "2f9f8c06.02bae4", "type": "link in", "z": "fbbaec7f.fd3ae", "name": "Discovery", "links": ["ceedfc1c.34cbd"], "x": 80, "y": 1559.25, "wires": [
        ["f53f19a6.638448"]
    ] }, { "id": "af962a18.77d1a8", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "", "active": true, "console": "false", "complete": "payload", "x": 863.0000114440918, "y": 1493.0000114440918, "wires": [] }, { "id": "2fd58765.630a08", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Sender", "links": ["96d960f7.30612"], "x": 805.0000009536743, "y": 1559.2500109672546, "wires": [] }, { "id": "a9b48070.6dd0f", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Discovery Questions", "info": "", "x": 112.75, "y": 1509.5, "wires": [] }, { "id": "4bc78b15.0bd8a4", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Chatbot", "links": ["336f031d.592a2c"], "x": 703, "y": 540.75, "wires": [] }, { "id": "336f031d.592a2c", "type": "link in", "z": "fbbaec7f.fd3ae", "name": "Chatbot", "links": ["4bc78b15.0bd8a4", "e3a6dd75.8f8e9"], "x": 72, "y": 773.5, "wires": [
        ["317e53d8.18c39c"]
    ] }, { "id": "db0ec5e2.20cfe8", "type": "change", "z": "fbbaec7f.fd3ae", "name": "chatbot", "rules": [{ "t": "set", "p": "chatbot", "pt": "msg", "to": "false", "tot": "bool" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 558, "y": 494, "wires": [
        ["d9e48a02.cf0ee8"]
    ] }, { "id": "e3688173.edf9f", "type": "inject", "z": "fbbaec7f.fd3ae", "name": "Init", "topic": "", "payload": "Hello", "payloadType": "str", "repeat": "", "crontab": "", "once": true, "x": 116, "y": 98.5, "wires": [
        ["274a5054.f4332"]
    ] }, { "id": "3df73ba8.b5b084", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Coversation Action", "info": "", "x": 594, "y": 679, "wires": [] }, { "id": "b42c9d71.d221d", "type": "switch", "z": "fbbaec7f.fd3ae", "name": "", "property": "session.action", "propertyType": "flow", "rules": [{ "t": "eq", "v": "greeting", "vt": "str" }, { "t": "eq", "v": "turn_off", "vt": "str" }, { "t": "eq", "v": "turn_on", "vt": "str" }, { "t": "eq", "v": "get_hum", "vt": "str" }, { "t": "eq", "v": "get_temp", "vt": "str" }, { "t": "eq", "v": "discover", "vt": "str" }, { "t": "eq", "v": "get_weather", "vt": "str" }, { "t": "else" }], "checkall": "true", "outputs": 8, "x": 883, "y": 824, "wires": [
        ["2eedd756.093c98"],
        ["23a2f4e.2b7780c"],
        ["23a2f4e.2b7780c"],
        ["b95434a7.834b98"],
        ["b95434a7.834b98"],
        ["ceedfc1c.34cbd"],
        ["2e8a646f.3b38fc"],
        ["b95434a7.834b98"]
    ] }, { "id": "ff960531.a83808", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "ConvParser", "active": true, "console": "false", "complete": "true", "x": 900, "y": 700.75, "wires": [] }, { "id": "274a5054.f4332", "type": "change", "z": "fbbaec7f.fd3ae", "name": "default Lang", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "de", "tot": "str" }, { "t": "set", "p": "lang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 298, "y": 98.25, "wires": [
        ["2fe9ec15.5f3a64"]
    ] }, { "id": "2fe9ec15.5f3a64", "type": "ui_dropdown", "z": "fbbaec7f.fd3ae", "name": "Language", "label": "Language", "place": "Select option", "group": "b2b56565.076ac8", "order": 1, "width": 0, "height": 0, "passthru": true, "options": [{ "label": "de", "value": "de", "type": "str" }, { "label": "en", "value": "en", "type": "str" }], "payload": "", "topic": "", "x": 486, "y": 98.5, "wires": [
        ["723e81fc.d2226"]
    ] }, { "id": "723e81fc.d2226", "type": "change", "z": "fbbaec7f.fd3ae", "name": "set lang", "rules": [{ "t": "set", "p": "lang", "pt": "flow", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 650, "y": 98.75, "wires": [
        ["1188f9ae.442756", "22206964.2206a6"]
    ] }, { "id": "1188f9ae.442756", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "ChatBot Lang", "active": false, "console": "false", "complete": "payload", "x": 836, "y": 98.75, "wires": [] }, { "id": "e3a6dd75.8f8e9", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "", "links": ["336f031d.592a2c"], "x": 976, "y": 160.75, "wires": [] }, { "id": "22206964.2206a6", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Init Chatbot", "func": "// insert the supported cities\nvar latlong = [];\nvar cities = [];\nvar conv;\n\nlatlong.push ({ \"city\" : \"Linz\", \"latlong\": \"48.2950649,14.0527468\" });\nlatlong.push ({ \"city\": \"Wien\", \"latlong\": \"48.2206849,16.3800599\"});\nlatlong.push ({ \"city\": \"Vienna\", \"latlong\": \"48.2206849,16.3800599\"});\nlatlong.push ({ \"city\": \"Graz\", \"latlong\": \"47.0735897,15.4417898\"});\nlatlong.push ({ \"city\": \"Salzburg\", \"latlong\": \"47.80281,13.05643\"});\nlatlong.push ({ \"city\": \"Bregenz\", \"latlong\": \"47.50708,9.7519903\"});\nlatlong.push ({ \"city\": \"Innsbruck\", \"latlong\": \"47.2854551,11.37879\"});\nlatlong.push ({ \"city\": \"Klagenfurt\", \"latlong\": \"46.641325,14.312755\"});\nlatlong.push ({ \"city\": \"St. Pölten\",\"latlong\": \"48.19378,15.647015\"});\nlatlong.push ({ \"city\": \"Eisenstadt\",\"latlong\": \"47.838855,16.5343751\"});\nlatlong.push ({ \"city\": \"München\",\"latlong\": \"48.135125,11.581981\"});\nlatlong.push ({ \"city\": \"Berlin\",\"latlong\": \"52.520007,13.404954\"});\nlatlong.push ({ \"city\": \"Hamburg\",\"latlong\": \"53.551085,9.993682\"});\n\nfor (var i=0; i<latlong.length; i++) {\n    cities.push(latlong[i].city);\n}\n\n// new session params \nvar session = {\n    \"latlong\" : latlong, \n    \"cities\" : cities,\n    \"action\" : \"\",\n    \"output\" : \"\",\n    \"context\" : {\n        \"cities\" : cities,\n        \"temp\" : \"-.-\",\n        \"hum\" : \"-%\", \n        \"city\" : null,\n        \"when\" : null,\n        \"date\" : null, \n        \"day\" : null,\n        \"light\" : \"\",\n        \"colour\" : null\n    }\n}\n\n// save the session\nflow.set(\"conversation\", conv);\nflow.set(\"session\", session);\n\n// default\nmsg.payload = \"Hi\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 830, "y": 160, "wires": [
        ["e3a6dd75.8f8e9", "486a181e.4476a8"]
    ] }, { "id": "b59b6aaf.aca718", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Chatbot UI", "info": "User Interface for the Chatbot - based on NodeRedUI", "x": 81, "y": 267.25, "wires": [] }, { "id": "fc2b1ec3.81a42", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Action Weather", "info": "Enhance the output with the Weather informations", "x": 102, "y": 1206.25, "wires": [] }, { "id": "317e53d8.18c39c", "type": "function", "z": "fbbaec7f.fd3ae", "name": "rest conv", "func": "// get the flow params\nvar conversation = flow.get(\"conversation\");\nvar session = flow.get(\"session\");\n\nsession.context.temp = global.get(\"temp\") || \"-.-\";\nsession.context.hum = global.get(\"hum\") || \"-%\";\nvar params = session.context;\n\n// set params for the next conversation\nif (conversation) {\n    params = {\n        \"context\" : conversation.context\n    };\n    \n    params.context.cities = session.context.cities;\n    params.context.temp = session.context.temp;\n    params.context.colour = session.context.colour;\n    params.context.hum = session.context.hum;\n    params.context.city = session.context.city;\n    params.context.when = session.context.when;\n} \n\n// insert here the additional infos for the parm\n// session.city\n// session.temp\n// session.when\n// session.hum\n\n// save new values     \nmsg.params = params;\n\n// save the new session params\nflow.set(\"session\", session);\nmsg.session = session;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 184, "y": 773.25, "wires": [
        ["4dff5c0a.5b5ed4", "36f2a2eb.534fce"]
    ] }, { "id": "4dff5c0a.5b5ed4", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "before conv", "active": true, "console": "false", "complete": "true", "x": 361, "y": 708.75, "wires": [] }, { "id": "b3f56508.bb7e88", "type": "change", "z": "fbbaec7f.fd3ae", "name": "Bot Answer", "rules": [{ "t": "set", "p": "answer", "pt": "msg", "to": "true", "tot": "bool" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 570, "y": 540, "wires": [
        ["4bc78b15.0bd8a4"]
    ] }, { "id": "e9339b10.03c358", "type": "function", "z": "fbbaec7f.fd3ae", "name": "parse conv", "func": "// get the current session\nvar session = flow.get(\"session\");\nvar lang = flow.get(\"lang\");\n\n// save conversation\nflow.set(\"conversation\", msg.payload);\n\n// save output textmessages\nsession.output = msg.payload.output.text;\n\n// init working variables\nvar intent;\nif (msg.payload.intents && msg.payload.intents.length) {\n    intent = msg.payload.intents[0].intent;\n} else {\n    intent = \"\";\n}\nvar entities = msg.payload.entities;\n\n// save special context\n// msg.discover = msg.payload.context.discovery;\n\n// parse entities and set vars\nif (entities && entities.length){\n    for (var i = 0;i < entities.length;i++) {\n        switch (entities[i].entity) {\n            case \"city\":\n                intent = \"get_weather\";\n                session.context.city = entities[i].value;\n                break;\n            case \"sys-date\":\n                intent = \"get_weather\";\n                session.context.date = entities[i].value;\n                break;\n            case \"day\":\n                intent = \"get_weather\";\n                session.context.day = entities[i].value;\n                break;\n            case \"colour\":\n                intent = \"turn_on\";\n                session.context.colour = entities[i].value;\n                break;\n            default:\n                break;\n        }\n    }\n}\n\n// define aditional values\nswitch (intent) {\n    case \"greeting\":\n        session.action = \"greeting\";\n        break;\n    case \"turn_off\":\n        session.action = \"turn_off\";\n        if (lang == \"de\") {\n            session.output.push(\"Klar. Ich habe das Licht ausgeschaltet.\");\n        } else {\n            session.output.push(\"Ok. The lights are turned off now.\");\n        }\n        break;\n    case \"turn_on\":\n        if (session.context.colour) {\n            session.action = \"turn_on\";\n            if (lang == \"de\") {\n                session.output.push(\"Gerne. Das Licht mit der Farbe \" + session.context.colour + \" ist nun für Sie eingeschaltet.\");\n            } else {\n                session.output.push(\"Fine. The \" + session.context.colour + \" light is now switched on.\");\n            }\n        } else {\n            session.action = \"next_question\";\n        }\n        break;\n    case \"get_temp\":\n        session.action = \"get_temp\";\n        break;\n    case \"get_hum\":\n        session.action = \"get_hum\";\n        break;\n    case \"get_weather\":\n        if (session.context.city) {\n            if (session.context.day || session.context.date) {\n            session.action = \"get_weather\";\n            } else {\n            session.action = \"next_question\";\n            }\n        } else {\n            session.action = \"next_question\";\n        }\n        break;\n    default:\n        break;\n}\n\nflow.set(\"session\", session);\n\n// enhance msg object\nmsg.intent = intent;\nmsg.session = session;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 677, "y": 747.25, "wires": [
        ["ff960531.a83808", "b42c9d71.d221d"]
    ] }, { "id": "486a181e.4476a8", "type": "change", "z": "fbbaec7f.fd3ae", "name": "Clear", "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "", "tot": "str" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 1013, "y": 211, "wires": [
        ["c7acbcf9.167d9"]
    ] }, { "id": "510bc96c.013208", "type": "function", "z": "fbbaec7f.fd3ae", "name": "Postprocessing", "func": "var session = flow.get(\"session\");\nvar output = session.output;\n\n// send out all text messages\nfor (var t in output) {\n    msg.payload = output[t];\n    msg.chatbot = true;\n    node.send(msg);\n}\n\nreturn ;", "outputs": 1, "noerr": 0, "x": 223, "y": 424.25, "wires": [
        ["d9e48a02.cf0ee8"]
    ] }, { "id": "44a08a7d.5259b4", "type": "link in", "z": "fbbaec7f.fd3ae", "name": "Weather", "links": ["2e8a646f.3b38fc"], "x": 78, "y": 1284.5, "wires": [
        ["e460ce3c.80757"]
    ] }, { "id": "2e8a646f.3b38fc", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Weather", "links": ["44a08a7d.5259b4"], "x": 1035, "y": 896.75, "wires": [] }, { "id": "5c4a244c.90772c", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "", "links": ["96d960f7.30612"], "x": 804, "y": 1279.75, "wires": [] }, { "id": "c3ce9b51.2e1018", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "Weather out", "active": true, "console": "false", "complete": "true", "x": 853, "y": 1354.75, "wires": [] }, { "id": "2eedd756.093c98", "type": "function", "z": "fbbaec7f.fd3ae", "name": "reset", "func": "var session = flow.get(\"session\");\n\nsession.context.city = \"\";\nsession.context.colour = \"\";\n\nflow.set(\"session\", session);\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1046, "y": 758, "wires": [
        ["b95434a7.834b98"]
    ] }, { "id": "1cc66cd4.03f633", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "after conv", "active": true, "console": "false", "complete": "true", "x": 667, "y": 801.75, "wires": [] }, { "id": "eaf22c03.4352a", "type": "watson-conversation-v1", "z": "fbbaec7f.fd3ae", "name": "DE Conv", "workspaceid": "03543a5d-b3cd-40b4-8406-86826a5ff4f2", "multiuser": false, "context": false, "default-endpoint": true, "service-endpoint": "https://gateway.watsonplatform.net/conversation/api", "x": 486.5, "y": 801.25, "wires": [
        ["1cc66cd4.03f633", "e9339b10.03c358"]
    ] }, { "id": "36f2a2eb.534fce", "type": "switch", "z": "fbbaec7f.fd3ae", "name": "Language", "property": "lang", "propertyType": "flow", "rules": [{ "t": "eq", "v": "en", "vt": "str" }, { "t": "else" }], "checkall": "true", "outputs": 2, "x": 349, "y": 773.25, "wires": [
        ["c5973131.78747"],
        ["eaf22c03.4352a"]
    ] }, { "id": "16ec1b08.894db5", "type": "comment", "z": "fbbaec7f.fd3ae", "name": "Action Light", "info": "Switch on / off and colour of the lights.", "x": 105, "y": 912, "wires": [] }, { "id": "7863cd8f.710804", "type": "link in", "z": "fbbaec7f.fd3ae", "name": "Lights", "links": ["23a2f4e.2b7780c"], "x": 74, "y": 978, "wires": [
        ["c69bd90b.34b2c8", "8cf55f68.3d323"]
    ] }, { "id": "23a2f4e.2b7780c", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Lights", "links": ["7863cd8f.710804"], "x": 1035, "y": 791, "wires": [] }, { "id": "8cf55f68.3d323", "type": "link out", "z": "fbbaec7f.fd3ae", "name": "Sender", "links": ["96d960f7.30612"], "x": 492, "y": 978, "wires": [] }, { "id": "6569481b.3f3ef8", "type": "function", "z": "fbbaec7f.fd3ae", "name": "SenseHAT", "func": "// get the Images\nvar senseHATImages = global.get(\"senseHATImages\");\nvar loop = true;\nvar sImage = \"\";\nvar image = [];\n\n// get the right image \nfor (var i = 0; i < senseHATImages.length && loop; i++) {\n    // set the image to be displayed\n    if (senseHATImages[i].name == msg.payload) {\n        loop = false;\n        sImage = senseHATImages[i].sImage;\n        image = senseHATImages[i].image;\n    }\n}\n\nmsg.payload = sImage;\nmsg.image = image;\nmsg.speed = 5;\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 367, "y": 1044, "wires": [
        ["e9ceb57c.5e9ba8"]
    ] }, { "id": "e9ceb57c.5e9ba8", "type": "rpi-sensehat out", "z": "fbbaec7f.fd3ae", "name": "", "x": 546, "y": 1044, "wires": [] }, { "id": "c69bd90b.34b2c8", "type": "function", "z": "fbbaec7f.fd3ae", "name": "set light", "func": "var session = flow.get(\"session\");\n\nswitch (session.action) {\n    case \"turn_off\":\n        msg.payload = \"no_light\";\n        break;\n    case \"turn_on\":\n        var colour = session.context.colour;\n        switch (colour) {\n            case \"blue\":\n            case \"blau\":\n                msg.payload = \"blue_light\";\n                break;\n            case \"red\":\n            case \"rot\":\n                msg.payload = \"red_light\";\n                break;\n            case \"green\":\n            case \"grün\":\n                msg.payload = \"green_light\";\n                break;\n            case \"yellow\":\n            case \"gelb\":\n                msg.payload = \"yellow_light\";\n                break;\n            case \"white\":\n            case \"weiß\":\n                msg.payload = \"white_light\";\n                break;\n            case \"orange\":\n                msg.payload = \"orange_light\";\n                break;\n            default: \n                msg.payload = \"no_light\";\n                break;\n        }\n        break;\n    default: \n        msg.payload = \"no_light\";\n        break;\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 206, "y": 1045, "wires": [
        ["6569481b.3f3ef8", "3cfe70f7.c16eb"]
    ] }, { "id": "3cfe70f7.c16eb", "type": "debug", "z": "fbbaec7f.fd3ae", "name": "", "active": true, "console": "false", "complete": "true", "x": 347, "y": 1094, "wires": [] }, { "id": "b2b56565.076ac8", "type": "ui_group", "z": "", "name": "Chat Group", "tab": "7b3ad7d1.3d9b68", "disp": false, "width": "10" }, { "id": "7b3ad7d1.3d9b68", "type": "ui_tab", "z": "", "name": "Chat", "icon": "dashboard" }]