TjBot/Raspi/Tab8 - FaceDetect.json
[{ "id": "9386383d.43ca08", "type": "camera", "z": "f64674ca.4112b8", "name": "", "x": 126, "y": 234.05817794799805, "wires": [
        ["d0796ca0.f9f13", "d96b18e8.1b3128", "923d9a05.cf6f88"]
    ] }, { "id": "2ed11ba.bd6d3e4", "type": "comment", "z": "f64674ca.4112b8", "name": "TRAINING your own classifiers", "info": "build new Specific Classifier to be used.", "x": 229.16680908203125, "y": 789.1970443725586, "wires": [] }, { "id": "ba8ba776.fcf678", "type": "visual-recognition-util-v3", "z": "f64674ca.4112b8", "name": "create a classifier", "apikey": "5c542d6b5bf9ffe9306826d4a349e822a3d199fb", "image-feature": "createClassifier", "x": 634.5953979492188, "y": 959.1970748901367, "wires": [
        ["351dd248.17c05e"]
    ] }, { "id": "1084fc2c.59f6b4", "type": "visual-recognition-util-v3", "z": "f64674ca.4112b8", "name": "retrieve classifiers list", "apikey": "5c542d6b5bf9ffe9306826d4a349e822a3d199fb", "image-feature": "retrieveClassifiersList", "x": 630.5953979492188, "y": 1010.1970691680908, "wires": [
        ["351dd248.17c05e"]
    ] }, { "id": "b96f0cb4.10478", "type": "visual-recognition-util-v3", "z": "f64674ca.4112b8", "name": "retrieve classifier details", "apikey": "", "image-feature": "retrieveClassifierDetails", "x": 634.5953979492188, "y": 1056.1970748901367, "wires": [
        ["351dd248.17c05e"]
    ] }, { "id": "43fc66ef.63e3b8", "type": "visual-recognition-util-v3", "z": "f64674ca.4112b8", "name": "delete a classifier", "apikey": "", "image-feature": "deleteClassifier", "x": 615.5953979492188, "y": 1108.1970748901367, "wires": [
        ["351dd248.17c05e"]
    ] }, { "id": "5f02776e.426438", "type": "inject", "z": "f64674ca.4112b8", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "x": 182.16680908203125, "y": 828.1970443725586, "wires": [
        ["38ea490f.7a69b6"]
    ] }, { "id": "b39a6d32.ba541", "type": "inject", "z": "f64674ca.4112b8", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "x": 192.59539794921875, "y": 1008.1970748901367, "wires": [
        ["1084fc2c.59f6b4"]
    ] }, { "id": "1c590767.ee42f9", "type": "inject", "z": "f64674ca.4112b8", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "x": 191.59539794921875, "y": 1054.1970748901367, "wires": [
        ["48af994d.09e058"]
    ] }, { "id": "df84d716.30adc8", "type": "inject", "z": "f64674ca.4112b8", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "x": 192.59539794921875, "y": 1101.1970748901367, "wires": [
        ["74d939bd.6e6bc8"]
    ] }, { "id": "38ea490f.7a69b6", "type": "function", "z": "f64674ca.4112b8", "name": "set name", "func": "msg.params={'name':'markus'};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 326.16680908203125, "y": 828.1970443725586, "wires": [
        ["9b811f77.ea2de"]
    ] }, { "id": "351dd248.17c05e", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": true, "console": "false", "complete": "result", "x": 886.881103515625, "y": 959.0541858673096, "wires": [] }, { "id": "48af994d.09e058", "type": "function", "z": "f64674ca.4112b8", "name": "set classifier_id", "func": "msg.params={'classifier_id':'retrievers_576045825'};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 408.09539794921875, "y": 1056.1970748901367, "wires": [
        ["b96f0cb4.10478"]
    ] }, { "id": "74d939bd.6e6bc8", "type": "function", "z": "f64674ca.4112b8", "name": "set classifier_id", "func": "msg.params={'classifier_id':'retrievers_1305424883'};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 401.09539794921875, "y": 1107.1970748901367, "wires": [
        ["43fc66ef.63e3b8"]
    ] }, { "id": "38e5f59f.27679a", "type": "inject", "z": "f64674ca.4112b8", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "x": 193.59539794921875, "y": 1152.9470691680908, "wires": [
        ["95a6f11.767591"]
    ] }, { "id": "95a6f11.767591", "type": "visual-recognition-util-v3", "z": "f64674ca.4112b8", "name": "delete All classifiers", "apikey": "", "image-feature": "deleteAllClassifiers", "x": 615.5953979492188, "y": 1155.9470691680908, "wires": [
        ["351dd248.17c05e"]
    ] }, { "id": "9b811f77.ea2de", "type": "dropbox", "z": "f64674ca.4112b8", "dropbox": "", "filename": "/TjBot/Faces/markuswals_positive.zip", "name": "", "x": 203.71047973632812, "y": 880.0064697265625, "wires": [
        ["ec83cfc.f05343"]
    ] }, { "id": "ec83cfc.f05343", "type": "change", "z": "f64674ca.4112b8", "name": "set positives", "rules": [{ "t": "set", "p": "params.markuswals_positive_examples", "pt": "msg", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 476.4762878417969, "y": 878.3597030639648, "wires": [
        ["2180e94a.d29556"]
    ] }, { "id": "5e5d81d4.a7062", "type": "dropbox out", "z": "f64674ca.4112b8", "dropbox": "", "filename": "", "localFilename": "", "name": "", "x": 532.8890991210938, "y": 234.0396842956543, "wires": [] }, { "id": "d96b18e8.1b3128", "type": "function", "z": "f64674ca.4112b8", "name": "set file name", "func": "    var now     = new Date(); \n    var year    = now.getFullYear();\n    var month   = now.getMonth()+1; \n    var day     = now.getDate();\n    var hour    = now.getHours();\n    var minute  = now.getMinutes();\n    var second  = now.getSeconds(); \n    if(month.toString().length == 1) {\n    var month = '0'+month;\n    }\n    if(day.toString().length == 1) {\n    var day = '0'+day;\n    }   \n    if(hour.toString().length == 1) {\n    var hour = '0'+hour;\n    }\n    if(minute.toString().length == 1) {\n    var minute = '0'+minute;\n    }\n    if(second.toString().length == 1) {\n    var second = '0'+second;\n    }   \n    var timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\n\nglobal.set(\"filename\", timestamp + \".jpeg\");\n\nmsg.filename = \"/TjBot/Faces/\" + timestamp + \".jpeg\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 332.523681640625, "y": 232.46027755737305, "wires": [
        ["5e5d81d4.a7062", "deae01bf.b80d1", "570bbf18.c926e", "cc963b91.fef708"]
    ] }, { "id": "2180e94a.d29556", "type": "dropbox", "z": "f64674ca.4112b8", "dropbox": "", "filename": "/Upload/Faces/markuswals2_positive.zip", "name": "", "x": 215.907470703125, "y": 927.4934921264648, "wires": [
        ["bccdfd05.30e82"]
    ] }, { "id": "bccdfd05.30e82", "type": "change", "z": "f64674ca.4112b8", "name": "set negatives", "rules": [{ "t": "set", "p": "params.markuswals2_positive_examples", "pt": "msg", "to": "payload", "tot": "msg" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 473.7408142089844, "y": 918.3822631835938, "wires": [
        ["ba8ba776.fcf678"]
    ] }, { "id": "d0796ca0.f9f13", "type": "function", "z": "f64674ca.4112b8", "name": "Classify", "func": "msg.params={};\nmsg.params[\"owners\"]=\"me\";\nmsg.params[\"classifier_ids\"]=\"markus_59409630\";\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 549.0371704101562, "y": 289.15058517456055, "wires": [
        ["62fc63a0.b4a18c"]
    ] }, { "id": "62fc63a0.b4a18c", "type": "visual-recognition-v3", "z": "f64674ca.4112b8", "name": "Face detection", "apikey": "5c542d6b5bf9ffe9306826d4a349e822a3d199fb", "image-feature": "detectFaces", "lang": "en", "x": 722.7910461425781, "y": 245.35711669921875, "wires": [
        ["3d01109c.a9909", "dfd5c2d8.b3273"]
    ] }, { "id": "3d01109c.a9909", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": true, "console": "false", "complete": "true", "x": 870.8862915039062, "y": 149, "wires": [] }, { "id": "dd1481fc.9a4e8", "type": "ui_template", "z": "f64674ca.4112b8", "group": "2b094ad8.3a28a6", "name": "Face", "order": 1, "width": 0, "height": 0, "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <p><img src={{msg.payload}} alt=\"Image Preview\" style=\"width:480px;height:360px;\">\n\n        \n    </p>\n</div>", "storeOutMessages": true, "fwdInMessages": true, "x": 907.0003051757812, "y": 354.44697189331055, "wires": [
        []
    ] }, { "id": "1dc084f7.4c82cb", "type": "http in", "z": "f64674ca.4112b8", "name": "", "url": "/imagedownload", "method": "get", "swaggerDoc": "", "x": 161.31491088867188, "y": 1309.6414413452148, "wires": [
        ["9ee8576a.8bcc48", "2a4f761f.9c205a"]
    ] }, { "id": "c50d8573.7d2368", "type": "dropbox", "z": "f64674ca.4112b8", "dropbox": "", "filename": "", "name": "", "x": 487.0292053222656, "y": 1311.6413803100586, "wires": [
        ["99a75acc.a68ec8"]
    ] }, { "id": "e06fa873.2e0308", "type": "http response", "z": "f64674ca.4112b8", "name": "HTTP Response", "x": 899.3148803710938, "y": 1311.069969177246, "wires": [] }, { "id": "9ee8576a.8bcc48", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": false, "console": "false", "complete": "true", "x": 340.6006164550781, "y": 1349.6413803100586, "wires": [] }, { "id": "99a75acc.a68ec8", "type": "function", "z": "f64674ca.4112b8", "name": "Set Content-Type header", "func": "msg.headers = {\n \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;", "outputs": 1, "noerr": 0, "x": 679.9340209960938, "y": 1311.8080673217773, "wires": [
        ["e06fa873.2e0308"]
    ] }, { "id": "2a4f761f.9c205a", "type": "function", "z": "f64674ca.4112b8", "name": "file name", "func": "msg.filename = msg.payload.image;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 345.9339904785156, "y": 1310.3080673217773, "wires": [
        ["c50d8573.7d2368"]
    ] }, { "id": "553f9e8d.298ea", "type": "comment", "z": "f64674ca.4112b8", "name": "", "info": "", "x": 108.85464859008789, "y": 1265.8793814629316, "wires": [] }, { "id": "56929a11.7134a4", "type": "function", "z": "f64674ca.4112b8", "name": "", "func": "msg.payload = \"https://hackathon3.mybluemix.net/imagedownload?image=\" + msg.filename;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 539.8149108886719, "y": 352.14141845703125, "wires": [
        ["dd1481fc.9a4e8", "3edc5c7.73c9ca4"]
    ] }, { "id": "deae01bf.b80d1", "type": "delay", "z": "f64674ca.4112b8", "name": "", "pauseType": "delay", "timeout": "2", "timeoutUnits": "seconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 373.96484375, "y": 353.5914306640625, "wires": [
        ["56929a11.7134a4"]
    ] }, { "id": "6c45e82c.cb9fa8", "type": "dropbox out", "z": "f64674ca.4112b8", "dropbox": "", "filename": "", "localFilename": "", "name": "", "x": 1220.2143859863281, "y": 536.1726989746094, "wires": [] }, { "id": "58383eac.c12f8", "type": "ui_template", "z": "f64674ca.4112b8", "group": "2b094ad8.3a28a6", "name": "Cropped", "order": 2, "width": 0, "height": 0, "format": "<div layout=\"row\" layout-align=\"space-between\">\n    <p><img src={{msg.payload}} alt=\"Image Preview\">\n\n        \n    </p>\n</div>", "storeOutMessages": true, "fwdInMessages": true, "x": 908.2500305175781, "y": 654.7440910339355, "wires": [
        []
    ] }, { "id": "570bbf18.c926e", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": false, "console": "false", "complete": "true", "x": 349.75, "y": 435.4583435058594, "wires": [] }, { "id": "b60b886b.133448", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": true, "console": "false", "complete": "true", "x": 902.2500305175781, "y": 723.4940605163574, "wires": [] }, { "id": "3edc5c7.73c9ca4", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": false, "console": "false", "complete": "true", "x": 904.7500305175781, "y": 390.4583435058594, "wires": [] }, { "id": "dfd5c2d8.b3273", "type": "function", "z": "f64674ca.4112b8", "name": "", "func": "var filename = \"/Upload/Faces/\" + global.get(\"filename\");\n\nvar left = msg.result.images[0].faces[0].face_location.left;\nvar top = msg.result.images[0].faces[0].face_location.top;\nvar width = msg.result.images[0].faces[0].face_location.width;\nvar height = msg.result.images[0].faces[0].face_location.height;\n\nmsg.left = left;\nmsg.top = top;\nmsg.width = width;\nmsg.height = height;\n\nmsg.payload = \"https://process.filestackapi.com/AhTgLagciQByzXpFGRI0Az/crop=dim:[\" + left +\",\"+ top +\",\"+ width +\",\"+ height + \"]/\" + \"https://hackathon3.mybluemix.net/imagedownload?image=\" + filename; \n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 655.4761505126953, "y": 527.3273963928223, "wires": [
        ["f9659495.061268", "58383eac.c12f8", "b60b886b.133448", "85c1f79c.975988"]
    ] }, { "id": "9b285081.f92a8", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": false, "console": "false", "complete": "true", "x": 1036.7441101074219, "y": 588.595287322998, "wires": [] }, { "id": "f9659495.061268", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": true, "console": "false", "complete": "true", "x": 801.0297546386719, "y": 488.59527587890625, "wires": [] }, { "id": "70d5c5b0.209edc", "type": "function", "z": "f64674ca.4112b8", "name": "", "func": "var newMsg = {};\nnewMsg.payload = msg.payload;\nnewMsg.filename = \"/Upload/Faces/Cropped/\" + global.get(\"filename\") + \".jpg\";\nreturn newMsg;", "outputs": 1, "noerr": 0, "x": 1035.7202453613281, "y": 533.8571472167969, "wires": [
        ["6c45e82c.cb9fa8"]
    ] }, { "id": "85c1f79c.975988", "type": "http request", "z": "f64674ca.4112b8", "name": "", "method": "GET", "ret": "txt", "url": "", "x": 823.1546936035156, "y": 529.9821586608887, "wires": [
        ["9b285081.f92a8", "70d5c5b0.209edc"]
    ] }, { "id": "71ef10b5.ac8bb", "type": "ui_gauge", "z": "f64674ca.4112b8", "name": "Confidence", "group": "49c0b6d0.f51c28", "order": 3, "width": 0, "height": 0, "gtype": "donut", "title": "Confidence", "label": "%", "format": "{{value  | number:2}}%", "min": 0, "max": "100", "colors": ["#ff0000", "#ffff00", "#00f000"], "x": 1264.6487121582031, "y": 842.5, "wires": [] }, { "id": "b847a61e.fd6068", "type": "ui_text", "z": "f64674ca.4112b8", "group": "49c0b6d0.f51c28", "order": 2, "width": 0, "height": 0, "name": "", "label": "Class", "format": "{{msg.payload}}", "layout": "row-spread", "x": 1243.537742614746, "y": 806.9444541931152, "wires": [] }, { "id": "cc963b91.fef708", "type": "ui_text", "z": "f64674ca.4112b8", "group": "49c0b6d0.f51c28", "order": 1, "width": 0, "height": 0, "name": "", "label": "Image File: ", "format": "{{msg.filename}}", "layout": "row-spread", "x": 537.2823791503906, "y": 186.72872924804688, "wires": [] }, { "id": "5efe297a.571668", "type": "function", "z": "f64674ca.4112b8", "name": "Result", "func": "if(msg.result.images[0].classifiers[0]) {\nreturn  [   {payload:msg.result.images[0].classifiers[0].classifier_id},\n            {payload:msg.result.images[0].classifiers[0].classes[0].score * 100}\n        ]\n} else {\n    return  [   {payload:\"none\"},\n                {payload:0}\n            ]\n}", "outputs": "2", "noerr": 0, "x": 1066.0774230957031, "y": 829.6428985595703, "wires": [
        ["b847a61e.fd6068"],
        ["71ef10b5.ac8bb"]
    ] }, { "id": "923d9a05.cf6f88", "type": "function", "z": "f64674ca.4112b8", "name": "Classify", "func": "msg.params={};\nmsg.params[\"owners\"]=\"me\";\nmsg.params[\"classifier_ids\"]=\"markus_2041955155\";\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 726.0774841308594, "y": 781.0714111328125, "wires": [
        ["b06f24ff.0b3ba8"]
    ] }, { "id": "b06f24ff.0b3ba8", "type": "visual-recognition-v3", "z": "f64674ca.4112b8", "name": "", "apikey": "__PWRD__", "image-feature": "classifyImage", "lang": "en", "x": 837.7679138183594, "y": 853.9444885253906, "wires": [
        ["5efe297a.571668", "1f5821f9.9d516e"]
    ] }, { "id": "1f5821f9.9d516e", "type": "debug", "z": "f64674ca.4112b8", "name": "", "active": true, "console": "false", "complete": "result", "x": 1088.3541564941406, "y": 874.0625, "wires": [] }, { "id": "2b094ad8.3a28a6", "type": "ui_group", "z": "", "name": "Detected", "tab": "be79dfb4.a84", "order": 1, "disp": true, "width": "6" }, { "id": "49c0b6d0.f51c28", "type": "ui_group", "z": "", "name": "Classifier Info", "tab": "be79dfb4.a84", "order": 2, "disp": true, "width": "6" }, { "id": "be79dfb4.a84", "type": "ui_tab", "z": "", "name": "Faces", "icon": "dashboard", "order": 3 }]