Cognitive Demo/WatsonOk.json
[{ "id": "56c6c578.db30b4", "type": "comment", "z": "6e3b45bc.e38674", "name": "config", "info": "", "x": 57.175750732421875, "y": 57, "wires": [] }, { "id": "f467981e.275218", "type": "twitter out", "z": "6e3b45bc.e38674", "twitter": "", "name": "Tweet", "x": 1042.773120880127, "y": 276.4930639266968, "wires": [] }, { "id": "fa8d1e17.c1276", "type": "inject", "z": "6e3b45bc.e38674", "name": "demos", "topic": "", "payload": "Do you have any demos?", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 158.85646057128906, "y": 551.5764660835266, "wires": [
        ["574f34ec.839484"]
    ] }, { "id": "ff88dd95.89c258", "type": "watson-conversation-v1", "z": "6e3b45bc.e38674", "name": "", "workspaceid": "b8a0fb0e-c362-4a83-94f1-04398fc3f32c", "multiuser": false, "context": true, "default-endpoint": false, "service-endpoint": "", "x": 631.7731132507324, "y": 318.5764350891113, "wires": [
        ["af31681b.2d8e88"]
    ] }, { "id": "f5d72230.2c0cf", "type": "watson-speech-to-text", "z": "6e3b45bc.e38674", "name": "", "continuous": true, "lang": "en-US", "langhidden": "en-US", "band": "BroadbandModel", "bandhidden": "", "password": "", "x": 122.02312088012695, "y": 320.8264207839966, "wires": [
        ["2c7f66ca.221032"]
    ] }, { "id": "399dd123.ce225e", "type": "watson-text-to-speech", "z": "6e3b45bc.e38674", "name": "", "lang": "en-GB", "langhidden": "en-GB", "voice": "en-GB_KateVoice", "voicehidden": "", "format": "audio/wav", "password": "", "x": 1071.7731227874756, "y": 347.9097843170166, "wires": [
        ["8049b5b7.2ede4"]
    ] }, { "id": "2c7f66ca.221032", "type": "function", "z": "6e3b45bc.e38674", "name": "set payload", "func": "msg.payload = msg.transcription;\n\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 286.02312088012695, "y": 320.82641315460205, "wires": [
        ["1d13a696.c1b741"]
    ] }, { "id": "8049b5b7.2ede4", "type": "function", "z": "6e3b45bc.e38674", "name": "set payload", "func": "msg.payload = msg.speech;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 1242.4398746490479, "y": 347.9097843170166, "wires": [
        ["ef43cac6.b7251"]
    ] }, { "id": "ef43cac6.b7251", "type": "play audio", "z": "6e3b45bc.e38674", "name": "", "x": 1401.7731685638428, "y": 347.9097843170166, "wires": [] }, { "id": "548a5bfb.64c98c", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "Set user details", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 113.02311706542969, "y": 132.57644081115723, "wires": [
        ["2c2d27c9.e7754"]
    ] }, { "id": "9935f37.e42861", "type": "watson-conversation-v1", "z": "6e3b45bc.e38674", "name": "", "workspaceid": "b8a0fb0e-c362-4a83-94f1-04398fc3f32c", "multiuser": true, "context": true, "default-endpoint": false, "service-endpoint": "", "x": 508.1064338684082, "y": 1562.2430934906006, "wires": [
        ["ce4d6b68.e99308"]
    ] }, { "id": "b4bed109.dbf88", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "hello", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 99.1064338684082, "y": 1480.2430934906006, "wires": [
        ["e04b28c2.340fe8"]
    ] }, { "id": "64da01e.db7fe", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "watson", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 99.6064338684082, "y": 1517.2430934906006, "wires": [
        ["e04b28c2.340fe8"]
    ] }, { "id": "e04b28c2.340fe8", "type": "function", "z": "6e3b45bc.e38674", "name": "set user 1", "func": "msg.user = '1';\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 270.6064338684082, "y": 1516.2430934906006, "wires": [
        ["9935f37.e42861"]
    ] }, { "id": "c9494ab0.0b56e8", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "hello", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 98.1064338684082, "y": 1601.2430934906006, "wires": [
        ["f436d1dd.c56ea8"]
    ] }, { "id": "5c612c8.bbaf4d4", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "cics", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 98.6064338684082, "y": 1637.2430934906006, "wires": [
        ["f436d1dd.c56ea8"]
    ] }, { "id": "f436d1dd.c56ea8", "type": "function", "z": "6e3b45bc.e38674", "name": "set user 2", "func": "msg.user = '2';\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 269.6064338684082, "y": 1636.2430934906006, "wires": [
        ["9935f37.e42861"]
    ] }, { "id": "ce4d6b68.e99308", "type": "debug", "z": "6e3b45bc.e38674", "name": "", "active": true, "console": "false", "complete": "payload.output.text", "x": 727.1064338684082, "y": 1562.2430934906006, "wires": [] }, { "id": "8f00e2e9.eb1f5", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "hello", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 275.1064338684082, "y": 1383.2430934906006, "wires": [
        ["9935f37.e42861"]
    ] }, { "id": "295dcbde.e5914c", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "watson", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 275.1064338684082, "y": 1419.2430934906006, "wires": [
        ["9935f37.e42861"]
    ] }, { "id": "e66dd4a.34fb028", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "hello", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 146.6064338684082, "y": 1731.2430934906006, "wires": [
        ["19a4370f.930859"]
    ] }, { "id": "19a4370f.930859", "type": "function", "z": "6e3b45bc.e38674", "name": "reset context", "func": "msg.params = {\n    context: {}\n};\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 291.6064338684082, "y": 1731.2430934906006, "wires": [
        ["9935f37.e42861"]
    ] }, { "id": "6659acd8.f5de24", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "yes", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 99.6064338684082, "y": 1553.2430934906006, "wires": [
        ["e04b28c2.340fe8"]
    ] }, { "id": "d3b4365f.c3fd9", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "yes", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 98.1064338684082, "y": 1673.2430934906006, "wires": [
        ["f436d1dd.c56ea8"]
    ] }, { "id": "dc50ec00.5b96a8", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "yes", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 275.1064338684082, "y": 1455.2430934906006, "wires": [
        ["9935f37.e42861"]
    ] }, { "id": "981dc53a.2f5a6", "type": "microphone", "z": "6e3b45bc.e38674", "name": "", "x": 111.27312088012695, "y": 272.5764102935791, "wires": [
        ["f5d72230.2c0cf"]
    ] }, { "id": "bb9db531.9b0e1", "type": "inject", "z": "6e3b45bc.e38674", "name": "", "topic": "", "payload": "reset context", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 104.02311706542969, "y": 97.24309730529785, "wires": [
        ["80960a0c.01b5a"]
    ] }, { "id": "80960a0c.01b5a", "type": "function", "z": "6e3b45bc.e38674", "name": "reset context", "func": "msg.params = {\n    context: {}\n};\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 276.0231170654297, "y": 97.24310493469238, "wires": [
        ["3da173e9.b83224"]
    ] }, { "id": "2c2d27c9.e7754", "type": "function", "z": "6e3b45bc.e38674", "name": "add context", "func": "msg.additional_context = {\n    twitter: {\n    handle: \"a_twitter_handle_without_the_at_symbol\",\n    dm: false\n}}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 275.8564147949219, "y": 132.24312782287598, "wires": [
        ["3da173e9.b83224"]
    ] }, { "id": "af31681b.2d8e88", "type": "function", "z": "6e3b45bc.e38674", "name": "set payload and tweet", "func": "/*output=msg.payload;\nmsg.payload = {};\nmsg.payload.output = {text: [output]}\nmsg.payload.context={twitter: {handle:\"@lindacmgross1\",DM:true}}\nnode.warn(msg.payload.context);\n*/\nnode.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    if (output && output.indexOf(\"|tweet:\") > -1) {\n        node.warn(\"tweeting\");\n        if (\n            msg.payload.context.twitter &&\n            msg.payload.context.twitter.handle \n            ) {\n            \n            // extract text and url to tweet and clean up strings\n            var tweet = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"tweet:\") > -1 ;\n                }).join(', ').replace(\"tweet:\", '');\n            var url = output.split('|')\n                .filter(function (c){\n                    return c.indexOf(\"link:\") > -1 ;\n                }).join(', ').replace(\"link:\", '');\n            \n            // dm switch\n            var dmswitch = '';\n            if (msg.payload.context.twitter.dm && msg.payload.context.twitter.dm === true){\n                dmswitch = \"DM \";\n            }\n            // construct tweet\n            tweet = dmswitch + \"@\" + msg.payload.context.twitter.handle + \" \" + tweet + \" \" + url;\n            \n            msg.payload = tweet;\n            node.warn(\"Sending string to twitter node: \\n\" + tweet)\n            node.send([msg,null]);\n            \n        } else {node.error(\"no twitter details\");}\n    } else {\n        node.warn(\"no tweet requested\");\n    }\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Cleaned conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);", "outputs": "2", "noerr": 0, "x": 835.939769744873, "y": 317.2430763244629, "wires": [
        ["f467981e.275218"],
        ["399dd123.ce225e"]
    ] }, { "id": "1d13a696.c1b741", "type": "link out", "z": "6e3b45bc.e38674", "name": "gototone", "links": ["4ea3303.5ce80d", "b5f744ad.8720c"], "x": 392.57616424560547, "y": 367.07642555236816, "wires": [] }, { "id": "5f60497b.7b88c", "type": "link in", "z": "6e3b45bc.e38674", "name": "convIn", "links": ["58a7a791.88c9a", "3da173e9.b83224", "63a9061a.4b8b78"], "x": 510.68986201286316, "y": 363.9097480773926, "wires": [
        ["ff88dd95.89c258"]
    ] }, { "id": "f358deda.d20fd", "type": "inject", "z": "6e3b45bc.e38674", "name": "Hi", "topic": "", "payload": "Hi", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 158.0231170654297, "y": 513.9931221008301, "wires": [
        ["574f34ec.839484"]
    ] }, { "id": "cd691056.56581", "type": "inject", "z": "6e3b45bc.e38674", "name": "Angry feedback", "topic": "", "payload": "it's really horrendous how badly these nodes are documented - There is absolutely no way any body can follow that! Infuriating!", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 130.2731170654297, "y": 587.4931230545044, "wires": [
        ["574f34ec.839484"]
    ] }, { "id": "4f759bfe.b6619c", "type": "inject", "z": "6e3b45bc.e38674", "name": "Happy feedback", "topic": "", "payload": "These new nodes are awesome! I love the way they are used in the new flows!", "payloadType": "str", "repeat": "", "crontab": "", "once": false, "x": 129.7731170654297, "y": 623.2431240081787, "wires": [
        ["574f34ec.839484"]
    ] }, { "id": "b5f744ad.8720c", "type": "link in", "z": "6e3b45bc.e38674", "name": "", "links": ["1d13a696.c1b741", "574f34ec.839484"], "x": 518.7499799728394, "y": 558.2524070739746, "wires": [
        ["6624d0df.c87f88", "43b49b12.6559d4"]
    ] }, { "id": "6624d0df.c87f88", "type": "debug", "z": "6e3b45bc.e38674", "name": "", "active": true, "console": "false", "complete": "false", "x": 646.2499809265137, "y": 514.919093132019, "wires": [] }, { "id": "58a7a791.88c9a", "type": "link out", "z": "6e3b45bc.e38674", "name": "", "links": ["5f60497b.7b88c"], "x": 1021.9999923706055, "y": 555.0857801437378, "wires": [] }, { "id": "43b49b12.6559d4", "type": "watson-tone-analyzer-v3", "z": "6e3b45bc.e38674", "name": "", "tones": "emotion", "sentences": "false", "contentType": "false", "x": 653.4999809265137, "y": 554.835750579834, "wires": [
        ["31f1ca35.508796"]
    ] }, { "id": "31f1ca35.508796", "type": "function", "z": "6e3b45bc.e38674", "name": "add emotion to context", "func": "var emotions = [];\nvar threshold = 0.5;\nvar topemotion ='';\n\n// simplify object returned by tone analyser to only the emotion tones\nemotions = msg.response.document_tone.tone_categories\n                .filter(function(c){\n                    if (c.category_id == \"emotion_tone\")\n                    {return c; }\n                    })[0].tones;\n                    \n\nnode.warn(\"Detected tones: \\n\" + JSON.stringify(emotions));\n\n// find highest score and return that tone name, if that score is greater than the threshold\ntopemotion = emotions.reduce(function(a, b){ return a.score > b.score ? a : b; });\n\nif (topemotion.score > threshold) {\n    topemotion = topemotion.tone_name;\n} else {\n    topemotion = \"neutral\";\n}\n\n\n// add top emotion to conversation context\nmsg.additional_context = { emotion: topemotion };\n\nnode.warn(\"Emotion added to conversation context:\\n   \" +  topemotion);    \n\n\nreturn msg;\n", "outputs": 1, "noerr": 0, "x": 868.0832977294922, "y": 555.7524070739746, "wires": [
        ["58a7a791.88c9a"]
    ] }, { "id": "574f34ec.839484", "type": "link out", "z": "6e3b45bc.e38674", "name": "frommaninputs", "links": ["4ea3303.5ce80d", "b5f744ad.8720c"], "x": 390.4543170928955, "y": 557.7414207458496, "wires": [] }, { "id": "3da173e9.b83224", "type": "link out", "z": "6e3b45bc.e38674", "name": "adminout", "links": ["5f60497b.7b88c"], "x": 395.4670042991638, "y": 114.83853721618652, "wires": [] }, { "id": "15b3ae61.9b19fa", "type": "comment", "z": "6e3b45bc.e38674", "name": "speech in", "info": "", "x": 67.50000381469727, "y": 237.1111936569214, "wires": [] }, { "id": "83cd8d97.75115", "type": "comment", "z": "6e3b45bc.e38674", "name": "test txt in", "info": "", "x": 65, "y": 474.6112575531006, "wires": [] }, { "id": "3dd0b72d.c4573", "type": "comment", "z": "6e3b45bc.e38674", "name": "tone analyser", "info": "", "x": 568.7500152587891, "y": 472.1112337112427, "wires": [] }, { "id": "846861f0.971298", "type": "comment", "z": "6e3b45bc.e38674", "name": "conversations call and output", "info": "", "x": 613.7500419616699, "y": 243.36119270324707, "wires": [] }]