Cognitive Demo/WatsonTranslate.json
[{ "id": "6e9da18e.1635b", "type": "inject", "z": "a4a79736.d97948", "name": "Trigger", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": true, "x": 172, "y": 187, "wires": [
        ["f5b6f2d1.a47a6"]
    ] }, { "id": "f493d351.105cc", "type": "function", "z": "a4a79736.d97948", "name": "DropDownPopulation", "func": "msg.options = msg.dropdown_object;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 688, "y": 188, "wires": [
        ["a059d4cd.8c0078", "b0e1fb07.573ae8"]
    ] }, { "id": "a059d4cd.8c0078", "type": "ui_dropdown", "z": "a4a79736.d97948", "name": "DropDownObject", "label": "Options", "group": "a138eeca.879c6", "order": 3, "width": 0, "height": 0, "options": [{ "label": "", "value": "" }], "payload": "", "topic": "msg.topic", "x": 692, "y": 287, "wires": [
        ["cbd15845.7ba218"]
    ] }, { "id": "cbd15845.7ba218", "type": "function", "z": "a4a79736.d97948", "name": "Parse-LTU-Output", "func": "var str = msg.payload;\n\nif (str === '') {\n        return;\n} else {\n        str = msg.payload;\n}\n\nglobal.set('g_model_id' , str);\n\nmsg.model_id = global.get('g_model_id');\n\nreturn msg;", "outputs": 1, "noerr": 0, "x": 692, "y": 387, "wires": [
        ["b0e1fb07.573ae8"]
    ] }, { "id": "24c10109.2f039e", "type": "comment", "z": "a4a79736.d97948", "name": "Getting the 'models' from Watson Language Translation ", "info": "", "x": 422, "y": 147, "wires": [] }, { "id": "61f7e516.570bdc", "type": "ui_text", "z": "a4a79736.d97948", "group": "a138eeca.879c6", "order": 4, "width": 0, "height": 0, "name": "", "label": "Output", "format": "{{msg.payload}}", "layout": "row-spread", "x": 712, "y": 627, "wires": [] }, { "id": "56e65b97.539774", "type": "ui_text_input", "z": "a4a79736.d97948", "group": "a138eeca.879c6", "order": 1, "width": 0, "height": 0, "name": "", "mode": "text", "delay": 300, "label": "Input", "topic": "", "x": 192, "y": 627, "wires": [
        ["411e388e.5986d8"]
    ] }, { "id": "411e388e.5986d8", "type": "ui_button", "z": "a4a79736.d97948", "name": "", "group": "a138eeca.879c6", "order": 2, "width": 0, "height": 0, "label": "Trigger to translate", "color": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 372, "y": 627, "wires": [
        ["d86d3bd3.b0af18"]
    ] }, { "id": "37bc6074.d308e", "type": "ui_toast", "z": "a4a79736.d97948", "position": "top right", "displayTime": "3", "name": "", "x": 752, "y": 687, "wires": [] }, { "id": "4efd3e48.6744f", "type": "ui_ui_control", "z": "a4a79736.d97948", "name": "ui control", "x": 734, "y": 553, "wires": [
        []
    ] }, { "id": "f5b6f2d1.a47a6", "type": "watson-translator-util", "z": "a4a79736.d97948", "name": "", "default-endpoint": true, "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api", "x": 420, "y": 188, "wires": [
        ["f493d351.105cc"]
    ] }, { "id": "2a0b3f2c.1da75", "type": "watson-translator", "z": "a4a79736.d97948", "name": "translator", "action": "translate", "basemodel": "ar-en", "domain": "conversational", "srclang": "en", "destlang": "fr", "password": "", "custom": "", "domainhidden": "conversational", "srclanghidden": "en", "destlanghidden": "fr", "basemodelhidden": "ar-en", "customhidden": "", "filetype": "forcedglossary", "trainid": "", "lgparams2": true, "ldparamshidden2": "true", "default-endpoint": true, "service-endpoint": "https://gateway.watsonplatform.net/language-translator/api", "x": 573, "y": 783, "wires": [
        ["4efd3e48.6744f", "61f7e516.570bdc", "37bc6074.d308e", "a0272282.014a7"]
    ] }, { "id": "b0e1fb07.573ae8", "type": "debug", "z": "a4a79736.d97948", "name": "", "active": true, "console": "false", "complete": "true", "x": 1047, "y": 311, "wires": [] }, { "id": "d86d3bd3.b0af18", "type": "change", "z": "a4a79736.d97948", "name": "", "rules": [{ "t": "set", "p": "model_id", "pt": "msg", "to": "g_model_id", "tot": "global" }], "action": "", "property": "", "from": "", "to": "", "reg": false, "x": 471, "y": 494, "wires": [
        ["2a0b3f2c.1da75"]
    ] }, { "id": "a0272282.014a7", "type": "debug", "z": "a4a79736.d97948", "name": "", "active": true, "console": "false", "complete": "true", "x": 834.861198425293, "y": 788.0555934906006, "wires": [] }, { "id": "a138eeca.879c6", "type": "ui_group", "z": "", "name": "Dashboard", "tab": "63ec9704.0a8848", "order": 1, "disp": true, "width": "6" }, { "id": "63ec9704.0a8848", "type": "ui_tab", "z": "a4a79736.d97948", "name": "Translate", "icon": "dashboard", "order": 1 }]